.title {
    color: #16284c;
}

.panel-content h2, 
.panel-content h3,
.panel-content h4 {
    color:#5E2581 ;
    
}  
.condition-popover {
    border-color: #5E2581 ;
}
.condition-popover .popover-title {
    color:#5E2581 ;
}

.optional-equipment .options-total-row {
    color:#5E2581 ;
}

.modal .modal-header, 
.modal .modal-header .close {
    color: white;
    background:#5E2581 ;
}


.selectBox-dropdown .selectBox-arrow {	
	background: white url(/img/selectbox/dropdown-button-purple.png) top right no-repeat;
}

.tiv-btn {
    background: #5E2581 ; /* Old browsers */
    background: -moz-linear-gradient(top,  #5E2581  0%, #5E2581  52%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5E2581 ), color-stop(52%,#5E2581 )); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5E2581  0%,#5E2581  52%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5E2581  0%,#5E2581  52%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5E2581  0%,#5E2581  52%); /* IE10+ */
    background: linear-gradient(to bottom,  #5E2581  0%,#5E2581  52%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5E2581 ', endColorstr='#5E2581 ',GradientType=0 ); /* IE6-9 */
     -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#ccc')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#ccc');

    border-color: #f77f21 #f77f21 #c45a07;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #aa8153;
    border-bottom-color: #886742;
   
    
    color:#fff;
    font-size: 16px;
    font-size: 16px;
    min-width: 120px;
    padding: 0px 10px 0px 10px;
}



.tiv-btn.tiv-btn-start-over {
    xbackground: url(../../img/buttons/blue/start.png) no-repeat;
    xwidth: 140px;
    height: 35px;
}

.tiv-btn.tiv-btn-continue {
    xbackground: url(../../img/buttons/blue/continue.png) no-repeat;
    xwidth: 140px;
    height: 35px;
}

.tiv-btn.tiv-btn-photo {
   xbackground: url(../../img/buttons/blue/photo.png) no-repeat;
    font-size: 12px;
    min-width: 204px;
    height: 23px;
    width:100%;
}

.tiv-btn.tiv-btn-video {
    xbackground: url(../../img/buttons/blue/video.png) no-repeat;
    font-size: 12px;
    min-width: 204px;
    height: 23px;
    width:100%;
}

.tiv-btn.tiv-btn-photo-modal, .tiv-btn.tiv-btn-video-modal {
    font-size: 12px;
    width: 160px;
    margin-top: 5px;
    height: 23px;
}

.tiv-btn.tiv-btn-get-directions {
    font-size: 12px;
    margin: 5px 0px 10px 0px;
    width:100%;
    height: 23px;
}





