.btn {
  color: rgb(255,255,255);
  text-shadow: none;
  &:hover {
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: #f77f21;
    *background-color: darken(#f77f21, 5%); /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;

    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background-position .1s linear);
  }
  
  .caret {
    margin-top: 6px;
    border-top-color: @white;
    border-top-bottom: @white;
  } 
}
