h1 { font-size: 36px; line-height: 40px; }
h2 { font-size: 18px; line-height: 22px; }
h3 { font-size: 16px; line-height: 18px; }
h4 { font-size: 14px; line-height: 16px; }
h5 { font-size: 12px; line-height: 14px; }
h6 { font-size: 11px; line-height: 12px; }

h1 small { font-size: 24px; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 12px; }