/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "tiv.css";
@import "jquery.fileupload-ui.css";
@import "colorbox.css";

.title {
    font-size: 18px;
    line-height: 64px;
}

.title span{
    font-size: 65%;
}

.error-block {
    color: rgb(214,12,12);
    font-weight: bold;
    font-size: 11px;
}


input[name="mileage"]+span.error-block {
    white-space: nowrap;
}



div.panel {
    border: solid 1px #CCC;
    background: white url(../img/panel-bg.png) top repeat-x;
    margin-bottom: 20px;
}

div.panel-content {
    padding: 5px 20px 15px 20px;
}

.language-block {
    font-size: 10px;
    line-height: 20px;
    font-weight: lighter;
    color: #666666;
}

.language-block img, 
.util-icon-block img {
    cursor: pointer;
}

.widget-step {
    position: relative;
}

.step-video {
    position: absolute;
    z-index: 10000;
    top: 40px;
    left: -40px;
}

.tiv-form {
   
}

.tiv-btn {
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
}

.control-label {
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.tiv-form .row-fluid {
    margin: 3px 0 5px 0;
}

.tiv-form .row-fluid.input-phone {
    margin-bottom: 0;
}

.tiv-form .condition-group {
    margin-top: -4px;
}

.tiv-form .condition-group .row-fluid {
    margin: 0;
}

.tiv-form select {
    width: 100%;
    height:20px; /* Non-Skinned and Older Mobile Browsers */
}

.tiv-form select option{
    text-indent: 5px;
}

.tiv-form input.form-text {
    width: 80%;
}
.tiv-form input.form-text.number {
    -wap-input-format: 'N'
}

.tiv-form .condition-group label {
    min-height: 0;
    line-height: 14px;
    margin-top:10px;
}

.tiv-form div.radio {
    position:relative;
    top:-2px;
    margin-right: 0px;
    margin-left: 3px;
}

.radio {
    position:relative;
}

.car-actions .btn-text {
    width: 80%;
}

.car-actions .btn-bug {
    width: 20%;
}


.condition-popover {
    border: 1px solid #f3c36c;
    border-bottom: 20px solid #f3c36c;
    width: 330px;
}

.condition-popover .arrow {
    display: none;
}

.condition-popover .popover-title {
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 10px 18px 0px 18px;
    background: none;
    border: 0;
}

.condition-popover .popover-content {
    color: #333333;
    font-size: 11px;
    font-weight: lighter;
    padding: 4px 18px 10px 18px;
}

.trade-in-desc .car-description h6 {
    margin: 0;
}
.trade-in-desc .car-description {
    text-align: right;
    margin-bottom: 5px;
}

label.checkbox span.option-text {
    display: inline-block;
    margin-left:5px;
}

.optional-equipment ul {
    list-style: none;
    margin-left: 0;
}

.optional-equipment ul li {
    margin-bottom: 6px;
}

.optional-equipment .option-value {
    text-align: left;
    width: 65px;
    font-weight: bolder;
}

.optional-equipment .options-total-row {
    font-size: 18px;
    font-weight: bolder;
    text-align: right;
}

.optional-equipment .options-total-row .options-total {
    font-size: 20px;
    
}

.dealer-promotion img {
    border: 2px #CCC solid;
}

.dealer-inventory a {
    color: #3b3b3b;
}

.dealer-inventory .inventory-item a {
    text-decoration: underline;
    font-weight: bold;
    display: block;
    height: 100%;
    width: 100%;
}

.dealer-inventory .inventory-item label {
    color: #1c1a7e;
    font-weight: bold;
}

.modal .modal-header, 
.modal .modal-header .close {
    color: white;
    background: #F5831F;
}

.modal .modal-body {
    background: white;    
} 

.modal .modal-body .table-striped tbody > tr:nth-child(odd) > td, 
.modal .modal-body .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #C9C9C9;
}

.modal .modal-footer {
    display: none;
}

.directions-container img {
    max-width: none;
}
.calculator .input-prepend span,
.calculator .input-prepend strong, 
.calculator .input-prepend input {
    text-align: right;
    float: right;
}

.calculator .input-prepend span,
.calculator .input-prepend strong {
    margin-right: 10px;
}

.calculator form .row-fluid {
    margin-bottom: 6px;
}

.appointment-section input {
    width: 83%;
}

.appointment-section select {
    width: 100%;
}

.appointment-section .appointment-success{
    display: none;
    background-color: green;
    color:white;
    padding:3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

.directions-section textarea {
    height: 80px; 
    width: 97%;
}

/* Removes Spinners from WebKit Browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


