/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1.title {
    color: #1a2e56;
    font-size: 22px;
    line-height: 64px;
}

div.panel {
    border: solid 1px #CCC;
    background: white url(../img/panel-bg.png) top repeat-x;
    margin-bottom: 20px;
}

div.panel-content {
    padding: 5px 20px 15px 20px;
}

.language-block {
    font-size: 10px;
    line-height: 20px;
    font-weight: lighter;
}


.trade-in-form .control-label {
    width: 60px;
    text-align: left;
    font-size: 14px;
}

.trade-in-form .controls {
    margin-left: 70px;
}

.trade-in-form .controls select {
    width: 100%;
}

.trade-in-form .controls input.span9 {
    width: 50%;
}
