
.clearfix { *zoom: 1 }

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after { clear: both }

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visible-phone { display: none!important }

.visible-tablet { display: none!important }

.hidden-desktop { display: none!important }

.visible-desktop { display: inherit!important }

@media (min-width:768px) and (max-width:979px) { 
    .hidden-desktop { display: inherit!important }

    .visible-desktop { display: none!important }

    .visible-tablet { display: inherit!important }

    .hidden-tablet { display: none!important }
}

@media (max-width:767px) { 
    .hidden-desktop { display: inherit!important }

    .visible-desktop { display: none!important }

    .visible-phone { display: inherit!important }

    .hidden-phone { display: none!important }
}

@media (min-width:1200px) { 
    .row {
        margin-left: -10px;
        *zoom: 1;
    }

    .row:before, .row:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .row:after { clear: both }

    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 10px;
    }

    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 620px }

    .span10 { width: 620px }

    .span9 { width: 557px }

    .span8 { width: 494px }

    .span7 { width: 431px }

    .span6 { width: 368px }

    .span5 { width: 305px }

    .span4 { width: 242px }

    .span3 { width: 179px }

    .span2 { width: 116px }

    .span1 { width: 53px }

    .offset10 { margin-left: 640px }

    .offset9 { margin-left: 577px }

    .offset8 { margin-left: 514px }

    .offset7 { margin-left: 451px }

    .offset6 { margin-left: 388px }

    .offset5 { margin-left: 325px }

    .offset4 { margin-left: 262px }

    .offset3 { margin-left: 199px }

    .offset2 { margin-left: 136px }

    .offset1 { margin-left: 73px }

    .row-fluid {
        width: 100%;
        *zoom: 1;
    }

    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .row-fluid:after { clear: both }

    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 26px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 1.6129032258064515%;
        *margin-left: 1.532258064516129%;
    }

    .row-fluid [class*="span"]:first-child { margin-left: 0 }

    .row-fluid .controls-row [class*="span"]+[class*="span"] { margin-left: 1.6129032258064515% }


    .row-fluid .span10 {
        width: 100%;
        *width: 99.91935483870968%;
    }

    .row-fluid .span9 {
        width: 89.83870967741936%;
        *width: 89.75806451612904%;
    }

    .row-fluid .span8 {
        width: 79.67741935483872%;
        *width: 79.5967741935484%;
    }

    .row-fluid .span7 {
        width: 69.51612903225806%;
        *width: 69.43548387096774%;
    }

    .row-fluid .span7-p2 {
        width: 67%;
        margin-left: 0;
    }

    .first-page .row-fluid .condition-group.span7 {
        width: 77%;
        margin-left:2%;
    }

    .row-fluid .span6 {
        width: 59.35483870967742%;
        *width: 59.2741935483871%;
    }

    .row-fluid .span5 {
        margin-left: 0;
        width: 50%;
        *width: 49.112903225806456%;
    }

    .row-fluid .first-page { 
        width: 52%;
        float:left;
    }

    .row-fluid .span5.right-col {
        padding-left: 3%;
    }

    .row-fluid .span4 {
        width: 39.03225806451613%;
        *width: 38.95161290322581%;
    }

    .row-fluid .span4-milage {
        width: 25%;
    }

    .row-fluid .span4.appraisal-desc {
        float:right;
    }

    .row-fluid .span3 {
        width: 28.870967741935488%;
        *width: 28.790322580645164%;
    }

    .row-fluid .span3-zip {
        width: 20%;
        text-align: right;
        margin-left: 0;
    }

    .row-fluid .span3-zip-reg {
        width: 20%;
        text-align: left;
        margin-left: 0;
    }

    .row-fluid .span3-p2 {
        width: 33%;
    }

    .row-fluid .span3-conditions {
        width: 21%;
        margin-left: 0;
    }

    .row-fluid .span2 {
        width: 18.70967741935484%;
        *width: 18.629032258064516%;
    }

    .row-fluid .span1 {
        width: 8.548387096774194%;
        *width: 8.467741935483872%;
    }

    .row-fluid .span1-zip {
        width: 34%;
        text-align: right;
        margin-left: 0;
    }

    .row-fluid .offset10 {
        margin-left: 103.2258064516129%;
        *margin-left: 103.06451612903226%;
    }

    .row-fluid .offset10:first-child {
        margin-left: 101.61290322580645%;
        *margin-left: 101.45161290322581%;
    }

    .row-fluid .offset9 {
        margin-left: 93.06451612903226%;
        *margin-left: 92.90322580645162%;
    }

    .row-fluid .offset9:first-child {
        margin-left: 91.45161290322581%;
        *margin-left: 91.29032258064517%;
    }

    .row-fluid .offset8 {
        margin-left: 82.90322580645162%;
        *margin-left: 82.74193548387098%;
    }

    .row-fluid .offset8:first-child {
        margin-left: 81.29032258064517%;
        *margin-left: 81.12903225806453%;
    }

    .row-fluid .offset7 {
        margin-left: 72.74193548387096%;
        *margin-left: 72.58064516129032%;
    }

    .row-fluid .offset7:first-child {
        margin-left: 71.12903225806451%;
        *margin-left: 70.96774193548387%;
    }

    .row-fluid .offset6 {
        margin-left: 62.58064516129033%;
        *margin-left: 62.41935483870969%;
    }

    .row-fluid .offset6:first-child {
        margin-left: 60.96774193548387%;
        *margin-left: 60.80645161290323%;
    }

    .row-fluid .offset5 {
        margin-left: 52.41935483870968%;
        *margin-left: 52.25806451612904%;
    }

    .row-fluid .offset5:first-child {
        margin-left: 50.806451612903224%;
        *margin-left: 50.645161290322584%;
    }

    .row-fluid .offset4 {
        margin-left: 42.25806451612903%;
        *margin-left: 42.09677419354839%;
    }

    .row-fluid .offset4:first-child {
        margin-left: 40.64516129032258%;
        *margin-left: 40.483870967741936%;
    }

    .row-fluid .offset3 {
        margin-left: 32.09677419354839%;
        *margin-left: 31.93548387096774%;
    }

    .row-fluid .offset3:first-child {
        margin-left: 30.48387096774194%;
        *margin-left: 30.322580645161292%;
    }

    .row-fluid .offset2 {
        margin-left: 21.935483870967744%;
        *margin-left: 21.774193548387096%;
    }

    .row-fluid .offset2:first-child {
        margin-left: 20.322580645161292%;
        *margin-left: 20.161290322580644%;
    }

    .row-fluid .offset1 {
        margin-left: 11.774193548387096%;
        *margin-left: 11.612903225806454%;
    }

    .row-fluid .offset1:first-child {
        margin-left: 10.161290322580646%;
        *margin-left: 10.000000000000002%;
    }

    input, textarea, .uneditable-input { margin-left: 0 }

    .controls-row [class*="span"]+[class*="span"] { margin-left: 10px }

    input.span10, textarea.span10, .uneditable-input.span10 { width: 606px }

    input.span9, textarea.span9, .uneditable-input.span9 { width: 543px }

    input.span8, textarea.span8, .uneditable-input.span8 { width: 480px }

    input.span7, textarea.span7, .uneditable-input.span7 { width: 417px }

    input.span6, textarea.span6, .uneditable-input.span6 { width: 354px }

    input.span5, textarea.span5, .uneditable-input.span5 { width: 291px }

    input.span4, textarea.span4, .uneditable-input.span4 { width: 228px }

    input.span3, textarea.span3, .uneditable-input.span3 { width: 165px }

    input.span2, textarea.span2, .uneditable-input.span2 { width: 102px }

    input.span1, textarea.span1, .uneditable-input.span1 { width: 39px }

    .thumbnails { margin-left: -10px }

    .thumbnails>li { margin-left: 10px }

    .row-fluid .thumbnails { margin-left: 0 }
}

@media (min-width:768px) and (max-width:979px) { 
    .row {
        margin-left: -10px;
        *zoom: 1;
    }

    .row:before, .row:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .row:after { clear: both }

    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 10px;
    }

    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 620px }

    .span10 { width: 620px }

    .span9 { width: 557px }

    .span8 { width: 494px }

    .span7 { width: 431px }

    .span6 { width: 368px }

    .span5 { width: 305px }

    .span4 { width: 242px }

    .span3 { width: 179px }

    .span2 { width: 116px }

    .span1 { width: 53px }

    .offset10 { margin-left: 640px }

    .offset9 { margin-left: 577px }

    .offset8 { margin-left: 514px }

    .offset7 { margin-left: 451px }

    .offset6 { margin-left: 388px }

    .offset5 { margin-left: 325px }

    .offset4 { margin-left: 262px }

    .offset3 { margin-left: 199px }

    .offset2 { margin-left: 136px }

    .offset1 { margin-left: 73px }

    .row-fluid {
        width: 100%;
        *zoom: 1;
    }

    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .row-fluid:after { clear: both }

    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 26px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 1.6129032258064515%;
        *margin-left: 1.532258064516129%;
    }

    .row-fluid [class*="span"]:first-child { margin-left: 0 }

    .row-fluid .controls-row [class*="span"]+[class*="span"] { margin-left: 1.6129032258064515% }

    .row-fluid .span10 {
        width: 100%;
        *width: 99.91935483870968%;
    }

    .row-fluid .span9 {
        width: 89.83870967741936%;
        *width: 89.75806451612904%;
    }

    .row-fluid .span8 {
        width: 79.67741935483872%;
        *width: 79.5967741935484%;
    }

    .row-fluid .span7 {
        width: 69.51612903225806%;
        *width: 69.43548387096774%;
    }

    .row-fluid .span7-p2 {
        width: 67%;
        margin-left: 0;
    }

    .row-fluid .span6 {
        width: 59.35483870967742%;
        *width: 59.2741935483871%;
    }

    .row-fluid .span5 {
        width: 49.193548387096776%;
        *width: 49.112903225806456%;
    }

    .row-fluid .first-page { 
        width: 52%;
        float: left;
    }

    .row-fluid .span4 {
        width: 39.03225806451613%;
        *width: 38.95161290322581%;
    }

    .row-fluid .span4-milage {
        width: 25%;
    }

    .row-fluid .span4.appraisal-desc {
        float:right;
    }

    .row-fluid .span3 {
        width: 28.870967741935488%;
        *width: 28.790322580645164%;
    }

    .row-fluid .span3-zip {
        width: 21%;
        text-align: right;
        margin-left: 0;
    }

    .row-fluid .span3-zip-reg {
        width: 20%;
        text-align: left;
        margin-left: 0;
    }

    .row-fluid .span3-conditions {
        width: 21%;
        margin-left: 0;
    }

    .row-fluid .span3-p2 {
        width: 33%;
    }

    .row-fluid .span2 {
        width: 18.70967741935484%;
        *width: 18.629032258064516%;
    }

    .row-fluid .span1 {
        width: 8.548387096774194%;
        *width: 8.467741935483872%;
    }

    .row-fluid .span1-zip {
        width: 33%;
        text-align: right;
        margin-left: 0;
    }

    .row-fluid .offset10 {
        margin-left: 103.2258064516129%;
        *margin-left: 103.06451612903226%;
    }

    .row-fluid .offset10:first-child {
        margin-left: 101.61290322580645%;
        *margin-left: 101.45161290322581%;
    }

    .row-fluid .offset9 {
        margin-left: 93.06451612903226%;
        *margin-left: 92.90322580645162%;
    }

    .row-fluid .offset9:first-child {
        margin-left: 91.45161290322581%;
        *margin-left: 91.29032258064517%;
    }

    .row-fluid .offset8 {
        margin-left: 82.90322580645162%;
        *margin-left: 82.74193548387098%;
    }

    .row-fluid .offset8:first-child {
        margin-left: 81.29032258064517%;
        *margin-left: 81.12903225806453%;
    }

    .row-fluid .offset7 {
        margin-left: 72.74193548387096%;
        *margin-left: 72.58064516129032%;
    }

    .row-fluid .offset7:first-child {
        margin-left: 71.12903225806451%;
        *margin-left: 70.96774193548387%;
    }

    .row-fluid .offset6 {
        margin-left: 62.58064516129033%;
        *margin-left: 62.41935483870969%;
    }

    .row-fluid .offset6:first-child {
        margin-left: 60.96774193548387%;
        *margin-left: 60.80645161290323%;
    }

    .row-fluid .offset5 {
        margin-left: 52.41935483870968%;
        *margin-left: 52.25806451612904%;
    }

    .row-fluid .offset5:first-child {
        margin-left: 50.806451612903224%;
        *margin-left: 50.645161290322584%;
    }

    .row-fluid .offset4 {
        margin-left: 42.25806451612903%;
        *margin-left: 42.09677419354839%;
    }

    .row-fluid .offset4:first-child {
        margin-left: 40.64516129032258%;
        *margin-left: 40.483870967741936%;
    }

    .row-fluid .offset3 {
        margin-left: 32.09677419354839%;
        *margin-left: 31.93548387096774%;
    }

    .row-fluid .offset3:first-child {
        margin-left: 30.48387096774194%;
        *margin-left: 30.322580645161292%;
    }

    .row-fluid .offset2 {
        margin-left: 21.935483870967744%;
        *margin-left: 21.774193548387096%;
    }

    .row-fluid .offset2:first-child {
        margin-left: 20.322580645161292%;
        *margin-left: 20.161290322580644%;
    }

    .row-fluid .offset1 {
        margin-left: 11.774193548387096%;
        *margin-left: 11.612903225806454%;
    }

    .row-fluid .offset1:first-child {
        margin-left: 10.161290322580646%;
        *margin-left: 10.000000000000002%;
    }

    input, textarea, .uneditable-input { margin-left: 0 }

    .controls-row [class*="span"]+[class*="span"] { margin-left: 10px }

    input.span10, textarea.span10, .uneditable-input.span10 { width: 606px }

    input.span9, textarea.span9, .uneditable-input.span9 { width: 543px }

    input.span8, textarea.span8, .uneditable-input.span8 { width: 480px }

    input.span7, textarea.span7, .uneditable-input.span7 { width: 417px }

    input.span6, textarea.span6, .uneditable-input.span6 { width: 354px }

    input.span5, textarea.span5, .uneditable-input.span5 { width: 291px }

    input.span4, textarea.span4, .uneditable-input.span4 { width: 228px }

    input.span3, textarea.span3, .uneditable-input.span3 { width: 165px }

    input.span2, textarea.span2, .uneditable-input.span2 { width: 102px }

    input.span1, textarea.span1, .uneditable-input.span1 { width: 39px }
}

@media (max-width:767px) { 
    body {
        padding-left: 20px;
        padding-right: 20px;
    }


    .tiv-form input.form-text {
        width: 98%;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: -20px;
        margin-right: -20px;
    }

    .container-fluid { padding: 0 }

    .dl-horizontal dt {
        float: none;
        clear: none;
        width: auto;
        text-align: left;
    }

    .dl-horizontal dd { margin-left: 0 }

    .container { width: auto }

    .row-fluid { width: 100% }

    .row, .thumbnails { margin-left: 0 }

    .thumbnails>li {
        float: none;
        margin-left: 0;
    }

    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .span12, .row-fluid .span12 {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row-fluid [class*="offset"]:first-child { margin-left: 0 }

    .input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
        display: block;
        width: 100%;
        min-height: 26px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
        display: inline-block;
        width: auto;
    }

    .controls-row [class*="span"]+[class*="span"] { margin-left: 0 }

    .modal {
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        margin: 0;
        overflow: hidden;
        max-height: 90%
    }

    .modal-body {
        max-height:320px;
    }

    .modal.fade { top: -100px }

    .modal.fade.in { top: 20px }



    .row-fluid .span4.appraisal-desc {
        clear:right;
    }
    .row-fluid .span3-zip {
        text-align: left;
    }
    .row-fluid .span1-zip {
        text-align: left;
    }

    .directions-section textarea {
        width: 99%;
    }

    #pop_condition a {
        margin:0;
    }

}

@media (max-width:480px) { 
    .nav-collapse { -webkit-transform: translate3d(0,0,0) }

    .page-header h1 small {
        display: block;
        line-height: 16px;
    }

    input[type="checkbox"], input[type="radio"] { border: 1px solid #ccc }

    .form-horizontal .control-label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }


    .form-horizontal .controls { margin-left: 0 }

    .form-horizontal .control-list { padding-top: 0 }

    .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px;
    }

    .media .pull-left, .media .pull-right {
        float: none;
        display: block;
        margin-bottom: 10px;
    }

    .media-object {
        margin-right: 0;
        margin-left: 0;
    }

    .modal {
        top: 10px;
        left: 10px;
        right: 10px;
    }

    .modal-header .close {
        padding: 10px;
        margin: -10px;
    }

    .modal-body {
        max-height:200px;
    }

    .carousel-caption { position: static }


    .tiv-form input.form-text {
        width: 97%;
    }

    form.form-stacked input[name='video'] {
        width: 94%;
    }

    .optional-equipment .options-total-row {
        text-align: left;
    }

    #pop_condition {
        display:none;
    }

}

@media (max-width:979px) { 
    body { padding-top: 0 }

    .navbar-fixed-top, .navbar-fixed-bottom { position: static }

    .navbar-fixed-top { margin-bottom: 16px }

    .navbar-fixed-bottom { margin-top: 16px }

    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding: 5px }

    .navbar .container {
        width: auto;
        padding: 0;
    }

    .navbar .brand {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 0 0 -5px;
    }

    .nav-collapse { clear: both }

    .nav-collapse .nav {
        float: none;
        margin: 0 0 8px;
    }

    .nav-collapse .nav>li { float: none }

    .nav-collapse .nav>li>a { margin-bottom: 2px }

    .nav-collapse .nav>.divider-vertical { display: none }

    .nav-collapse .nav .nav-header {
        color: #777;
        text-shadow: none;
    }

    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
        padding: 9px 15px;
        font-weight: bold;
        color: #777;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .nav-collapse .btn {
        padding: 4px 10px 4px;
        font-weight: normal;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .nav-collapse .dropdown-menu li+li a { margin-bottom: 2px }

    .nav-collapse .nav>li>a:hover, .nav-collapse .dropdown-menu a:hover { background-color: #f2f2f2 }

    .navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a { color: #999 }

    .navbar-inverse .nav-collapse .nav>li>a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:hover { background-color: #111 }

    .nav-collapse.in .btn-group {
        margin-top: 5px;
        padding: 0;
    }

    .nav-collapse .dropdown-menu {
        position: static;
        top: auto;
        left: auto;
        float: none;
        display: none;
        max-width: none;
        margin: 0 15px;
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .nav-collapse .open>.dropdown-menu { display: block }

    .nav-collapse .dropdown-menu:before, .nav-collapse .dropdown-menu:after { display: none }

    .nav-collapse .dropdown-menu .divider { display: none }

    .nav-collapse .nav>li>.dropdown-menu:before, .nav-collapse .nav>li>.dropdown-menu:after { display: none }

    .nav-collapse .navbar-form, .nav-collapse .navbar-search {
        float: none;
        padding: 8px 15px;
        margin: 8px 0;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    }

    .navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search {
        border-top-color: #111;
        border-bottom-color: #111;
    }

    .navbar .nav-collapse .nav.pull-right {
        float: none;
        margin-left: 0;
    }

    .nav-collapse, .nav-collapse.collapse {
        overflow: hidden;
        height: 0;
    }

    .navbar .btn-navbar { display: block }

    .navbar-static .navbar-inner {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width:980px) { 
    .nav-collapse.collapse {
        height: auto!important;
        overflow: visible!important;
    }

    .row-fluid .first-page { 
        width: 52%;
        float: left;
    }

    .row-fluid .span7-p2 {
        width: 67%;
        margin-left: 0;
    }
    .row-fluid .span3-p2 {
        width: 33%;
    }

}

