
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block }

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

footer {
    text-align: center;
}

audio:not([controls]) { display: none }

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover, a:active { outline: 0 }

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup { top: -0.5em }

sub { bottom: -0.25em }

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#map_canvas img, .google-maps img { max-width: none }

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button, input {
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] { cursor: pointer }

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none }

textarea {
    overflow: auto;
    vertical-align: top;
}

@media print { 
    * {
        text-shadow: none!important;
        color: #000!important;
        background: transparent!important;
        box-shadow: none!important;
    }

    a, a:visited { text-decoration: underline }

    a[href]:after { content: " (" attr(href) ")" }

    abbr[title]:after { content: " (" attr(title) ")" }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: "" }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead { display: table-header-group }

    tr, img { page-break-inside: avoid }

    img { max-width: 100%!important }
}

.clearfix { *zoom: 1 }

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after { clear: both }

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial,sans-serif,Helvetica,"Helvetica Neue";
    font-size: 12px;
    line-height: 16px;
    color: #333;
    background-color: #fff;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    color: #005580;
    text-decoration: underline;
}

.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.row {
    margin-left: -10px;
    *zoom: 1;
}

.row:before, .row:after {
    display: table;
    content: "";
    line-height: 0;
}

.row:after { clear: both }

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 10px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 620px }

.span10 { width: 620px }

.span9 { width: 557px }

.span8 { width: 494px }

.span7 { width: 431px }

.span6 { width: 368px }

.span5 { width: 305px }

.span4 { width: 242px }

.span3 { width: 179px }

.span2 { width: 116px }

.span1 { width: 53px }

.offset10 { margin-left: 640px }

.offset9 { margin-left: 577px }

.offset8 { margin-left: 514px }

.offset7 { margin-left: 451px }

.offset6 { margin-left: 388px }

.offset5 { margin-left: 325px }

.offset4 { margin-left: 262px }

.offset3 { margin-left: 199px }

.offset2 { margin-left: 136px }

.offset1 { margin-left: 73px }

.row-fluid {
    width: 100%;
    *zoom: 1;
}

.row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}

.row-fluid:after { clear: both }

.row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 1.6129032258064515%;
    *margin-left: 1.532258064516129%;
}

.row-fluid [class*="span"]:first-child { margin-left: 0 }

.row-fluid .controls-row [class*="span"] + [class*="span"] { margin-left: 1.6129032258064515% }

.row-fluid .span10 {
    width: 100%;
    *width: 99.91935483870968%;
}

.row-fluid .span9 {
    width: 89.83870967741936%;
    *width: 89.75806451612904%;
}

.row-fluid .span8 {
        width: 79.67741935483872%;
        *width: 79.5967741935484%;
    }

    .row-fluid .span7 {
        width: 69.51612903225806%;
        *width: 69.43548387096774%;
    }

    .first-page .row-fluid .condition-group.span7 {
        width: 77%;
    }

    .row-fluid .span6 {
        width: 59.35483870967742%;
        *width: 59.2741935483871%;
    }

    .row-fluid .span5 {
        margin-left: 0;
        width: 50%;
        *width: 49.112903225806456%;
    }
    
    .row-fluid .span5.right-col {
        padding-left: 3%;
    }

    .row-fluid .span4 {
        width: 39.03225806451613%;
        *width: 38.95161290322581%;
    }

    .row-fluid .span4-milage {
        width: 25%;
    }

    .row-fluid .span4.appraisal-desc {
        float:right;
    }

    .row-fluid .span3 {
        width: 28.870967741935488%;
        *width: 28.790322580645164%;
    }

    .row-fluid .span3-zip {
        width: 21%;
        text-align: right;
        margin-left: 0;
    }

    .row-fluid .span3-zip-reg {
        width: 20%;
        text-align: left;
        margin-left: 0;
    }

    .row-fluid .span3-zip-reg span.error-block {
        white-space: nowrap;
    }

    .row-fluid .span3-conditions {
        width: 21%;
        margin-left: 0;
    }

    .row-fluid .span2 {
        width: 18.70967741935484%;
        *width: 18.629032258064516%;
    }

    .row-fluid .span1 {
        width: 8.548387096774194%;
        *width: 8.467741935483872%;
    }

    .row-fluid .span1-zip {
        width: 33%;
        text-align: right;
        margin-left: 0;
    }

.row-fluid .offset10 {
    margin-left: 103.2258064516129%;
    *margin-left: 103.06451612903226%;
}

.row-fluid .offset10:first-child {
    margin-left: 101.61290322580645%;
    *margin-left: 101.45161290322581%;
}

.row-fluid .offset9 {
    margin-left: 93.06451612903226%;
    *margin-left: 92.90322580645162%;
}

.row-fluid .offset9:first-child {
    margin-left: 91.45161290322581%;
    *margin-left: 91.29032258064517%;
}

.row-fluid .offset8 {
    margin-left: 82.90322580645162%;
    *margin-left: 82.74193548387098%;
}

.row-fluid .offset8:first-child {
    margin-left: 81.29032258064517%;
    *margin-left: 81.12903225806453%;
}

.row-fluid .offset7 {
    margin-left: 72.74193548387096%;
    *margin-left: 72.58064516129032%;
}

.row-fluid .offset7:first-child {
    margin-left: 71.12903225806451%;
    *margin-left: 70.96774193548387%;
}

.row-fluid .offset6 {
    margin-left: 62.58064516129033%;
    *margin-left: 62.41935483870969%;
}

.row-fluid .offset6:first-child {
    margin-left: 60.96774193548387%;
    *margin-left: 60.80645161290323%;
}

.row-fluid .offset5 {
    margin-left: 52.41935483870968%;
    *margin-left: 52.25806451612904%;
}

.row-fluid .offset5:first-child {
    margin-left: 50.806451612903224%;
    *margin-left: 50.645161290322584%;
}

.row-fluid .offset4 {
    margin-left: 42.25806451612903%;
    *margin-left: 42.09677419354839%;
}

.row-fluid .offset4:first-child {
    margin-left: 40.64516129032258%;
    *margin-left: 40.483870967741936%;
}

.row-fluid .offset3 {
    margin-left: 32.09677419354839%;
    *margin-left: 31.93548387096774%;
}

.row-fluid .offset3:first-child {
    margin-left: 30.48387096774194%;
    *margin-left: 30.322580645161292%;
}

.row-fluid .offset2 {
    margin-left: 21.935483870967744%;
    *margin-left: 21.774193548387096%;
}

.row-fluid .offset2:first-child {
    margin-left: 20.322580645161292%;
    *margin-left: 20.161290322580644%;
}

.row-fluid .offset1 {
    margin-left: 11.774193548387096%;
    *margin-left: 11.612903225806454%;
}

.row-fluid .offset1:first-child {
    margin-left: 10.161290322580646%;
    *margin-left: 10.000000000000002%;
}

[class*="span"].hide, .row-fluid [class*="span"].hide { display: none }

[class*="span"].pull-right, .row-fluid [class*="span"].pull-right { float: right }

.container {
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    *zoom: 1;
}

.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
}

.container:after { clear: both }

.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    *zoom: 1;
}

.container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}

.container-fluid:after { clear: both }

p { margin: 0 0 8px }

.lead {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
}

small { font-size: 85% }

strong { font-weight: bold }

em { font-style: italic }

cite { font-style: normal }

.muted { color: #999 }

a.muted:hover { color: #808080 }

.text-warning { color: #c09853 }

a.text-warning:hover { color: #a47e3c }

.text-error { color: #b94a48 }

a.text-error:hover { color: #953b39 }

.text-info { color: #3a87ad }

a.text-info:hover { color: #2d6987 }

.text-success { color: #468847 }

a.text-success:hover { color: #356635 }

h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 16px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999;
}

h1, h2, h3 { line-height: 32px }

h1 { font-size: 33px }

h2 { font-size: 27px }

h3 { font-size: 21px }

h4 { font-size: 15px }

h5 { font-size: 12px }

h6 { font-size: 10.2px }

h1 small { font-size: 21px }

h2 small { font-size: 15px }

h3 small { font-size: 12px }

h4 small { font-size: 12px }

.page-header {
    padding-bottom: 7px;
    margin: 16px 0 24px;
    border-bottom: 1px solid #eee;
}

ul, ol {
    padding: 0;
    margin: 0 0 8px 25px;
}

ul ul, ul ol, ol ol, ol ul { margin-bottom: 0 }

li { line-height: 16px }

ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none;
}

ul.inline, ol.inline {
    margin-left: 0;
    list-style: none;
}

ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

dl { margin-bottom: 16px }

dt, dd { line-height: 16px }

dt { font-weight: bold }

dd { margin-left: 8px }

.dl-horizontal { *zoom: 1 }

.dl-horizontal:before, .dl-horizontal:after {
    display: table;
    content: "";
    line-height: 0;
}

.dl-horizontal:after { clear: both }

.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd { margin-left: 180px }

hr {
    margin: 16px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999;
}

abbr.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 16px;
    border-left: 5px solid #eee;
}

blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

blockquote small {
    display: block;
    line-height: 16px;
    color: #999;
}

blockquote small:before { content: '\2014 \00A0' }

blockquote.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
}

blockquote.pull-right p, blockquote.pull-right small { text-align: right }

blockquote.pull-right small:before { content: '' }

blockquote.pull-right small:after { content: '\00A0 \2014' }

q:before, q:after, blockquote:before, blockquote:after { content: "" }

address {
    display: block;
    margin-bottom: 16px;
    font-style: normal;
    line-height: 16px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 18px;
    line-height: 22px;
}

h3 {
    font-size: 16px;
    line-height: 18px;
}

h4 {
    font-size: 14px;
    line-height: 16px;
}

h5 {
    font-size: 12px;
    line-height: 14px;
}

h6 {
    font-size: 11px;
    line-height: 12px;
}

h1 small { font-size: 24px }

h2 small { font-size: 18px }

h3 small { font-size: 14px }

h4 small { font-size: 12px }

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    margin-bottom: 16px;
}

.table th, .table td {
    padding: 8px;
    line-height: 16px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table th { font-weight: bold }

.table thead th { vertical-align: bottom }

.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td { border-top: 0 }

.table tbody + tbody { border-top: 2px solid #ddd }

.table .table { background-color: #fff }

.table-condensed th, .table-condensed td { padding: 4px 5px }

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-bordered th, .table-bordered td { border-left: 1px solid #ddd }

.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td { border-top: 0 }

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child {
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}

.table-bordered caption + thead tr:first-child th:first-child, .table-bordered caption + tbody tr:first-child td:first-child, .table-bordered colgroup + thead tr:first-child th:first-child, .table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child, .table-bordered caption + tbody tr:first-child td:last-child, .table-bordered colgroup + thead tr:first-child th:last-child, .table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th { background-color: #f9f9f9 }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #f5f5f5 }

table td[class*="span"], table th[class*="span"], .row-fluid table td[class*="span"], .row-fluid table th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
}

.table td.span1, .table th.span1 {
    float: none;
    width: 37px;
    margin-left: 0;
}

.table td.span2, .table th.span2 {
    float: none;
    width: 100px;
    margin-left: 0;
}

.table td.span3, .table th.span3 {
    float: none;
    width: 163px;
    margin-left: 0;
}

.table td.span4, .table th.span4 {
    float: none;
    width: 226px;
    margin-left: 0;
}

.table td.span5, .table th.span5 {
    float: none;
    width: 289px;
    margin-left: 0;
}

.table td.span6, .table th.span6 {
    float: none;
    width: 352px;
    margin-left: 0;
}

.table td.span7, .table th.span7 {
    float: none;
    width: 415px;
    margin-left: 0;
}

.table td.span8, .table th.span8 {
    float: none;
    width: 478px;
    margin-left: 0;
}

.table td.span9, .table th.span9 {
    float: none;
    width: 541px;
    margin-left: 0;
}

.table td.span10, .table th.span10 {
    float: none;
    width: 604px;
    margin-left: 0;
}

.table td.span11, .table th.span11 {
    float: none;
    width: 667px;
    margin-left: 0;
}

.table td.span12, .table th.span12 {
    float: none;
    width: 730px;
    margin-left: 0;
}

.table tbody tr.success td { background-color: #dff0d8 }

.table tbody tr.error td { background-color: #f2dede }

.table tbody tr.warning td { background-color: #fcf8e3 }

.table tbody tr.info td { background-color: #d9edf7 }

.table-hover tbody tr.success:hover td { background-color: #d0e9c6 }

.table-hover tbody tr.error:hover td { background-color: #ebcccc }

.table-hover tbody tr.warning:hover td { background-color: #faf2cc }

.table-hover tbody tr.info:hover td { background-color: #c4e3f3 }

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}

.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] { background-image: url("../img/glyphicons-halflings-white.png") }

.icon-glass { background-position: 0 0 }

.icon-music { background-position: -24px 0 }

.icon-search { background-position: -48px 0 }

.icon-envelope { background-position: -72px 0 }

.icon-heart { background-position: -96px 0 }

.icon-star { background-position: -120px 0 }

.icon-star-empty { background-position: -144px 0 }

.icon-user { background-position: -168px 0 }

.icon-film { background-position: -192px 0 }

.icon-th-large { background-position: -216px 0 }

.icon-th { background-position: -240px 0 }

.icon-th-list { background-position: -264px 0 }

.icon-ok { background-position: -288px 0 }

.icon-remove { background-position: -312px 0 }

.icon-zoom-in { background-position: -336px 0 }

.icon-zoom-out { background-position: -360px 0 }

.icon-off { background-position: -384px 0 }

.icon-signal { background-position: -408px 0 }

.icon-cog { background-position: -432px 0 }

.icon-trash { background-position: -456px 0 }

.icon-home { background-position: 0 -24px }

.icon-file { background-position: -24px -24px }

.icon-time { background-position: -48px -24px }

.icon-road { background-position: -72px -24px }

.icon-download-alt { background-position: -96px -24px }

.icon-download { background-position: -120px -24px }

.icon-upload { background-position: -144px -24px }

.icon-inbox { background-position: -168px -24px }

.icon-play-circle { background-position: -192px -24px }

.icon-repeat { background-position: -216px -24px }

.icon-refresh { background-position: -240px -24px }

.icon-list-alt { background-position: -264px -24px }

.icon-lock { background-position: -287px -24px }

.icon-flag { background-position: -312px -24px }

.icon-headphones { background-position: -336px -24px }

.icon-volume-off { background-position: -360px -24px }

.icon-volume-down { background-position: -384px -24px }

.icon-volume-up { background-position: -408px -24px }

.icon-qrcode { background-position: -432px -24px }

.icon-barcode { background-position: -456px -24px }

.icon-tag { background-position: 0 -48px }

.icon-tags { background-position: -25px -48px }

.icon-book { background-position: -48px -48px }

.icon-bookmark { background-position: -72px -48px }

.icon-print { background-position: -96px -48px }

.icon-camera { background-position: -120px -48px }

.icon-font { background-position: -144px -48px }

.icon-bold { background-position: -167px -48px }

.icon-italic { background-position: -192px -48px }

.icon-text-height { background-position: -216px -48px }

.icon-text-width { background-position: -240px -48px }

.icon-align-left { background-position: -264px -48px }

.icon-align-center { background-position: -288px -48px }

.icon-align-right { background-position: -312px -48px }

.icon-align-justify { background-position: -336px -48px }

.icon-list { background-position: -360px -48px }

.icon-indent-left { background-position: -384px -48px }

.icon-indent-right { background-position: -408px -48px }

.icon-facetime-video { background-position: -432px -48px }

.icon-picture { background-position: -456px -48px }

.icon-pencil { background-position: 0 -72px }

.icon-map-marker { background-position: -24px -72px }

.icon-adjust { background-position: -48px -72px }

.icon-tint { background-position: -72px -72px }

.icon-edit { background-position: -96px -72px }

.icon-share { background-position: -120px -72px }

.icon-check { background-position: -144px -72px }

.icon-move { background-position: -168px -72px }

.icon-step-backward { background-position: -192px -72px }

.icon-fast-backward { background-position: -216px -72px }

.icon-backward { background-position: -240px -72px }

.icon-play { background-position: -264px -72px }

.icon-pause { background-position: -288px -72px }

.icon-stop { background-position: -312px -72px }

.icon-forward { background-position: -336px -72px }

.icon-fast-forward { background-position: -360px -72px }

.icon-step-forward { background-position: -384px -72px }

.icon-eject { background-position: -408px -72px }

.icon-chevron-left { background-position: -432px -72px }

.icon-chevron-right { background-position: -456px -72px }

.icon-plus-sign { background-position: 0 -96px }

.icon-minus-sign { background-position: -24px -96px }

.icon-remove-sign { background-position: -48px -96px }

.icon-ok-sign { background-position: -72px -96px }

.icon-question-sign { background-position: -96px -96px }

.icon-info-sign { background-position: -120px -96px }

.icon-screenshot { background-position: -144px -96px }

.icon-remove-circle { background-position: -168px -96px }

.icon-ok-circle { background-position: -192px -96px }

.icon-ban-circle { background-position: -216px -96px }

.icon-arrow-left { background-position: -240px -96px }

.icon-arrow-right { background-position: -264px -96px }

.icon-arrow-up { background-position: -289px -96px }

.icon-arrow-down { background-position: -312px -96px }

.icon-share-alt { background-position: -336px -96px }

.icon-resize-full { background-position: -360px -96px }

.icon-resize-small { background-position: -384px -96px }

.icon-plus { background-position: -408px -96px }

.icon-minus { background-position: -433px -96px }

.icon-asterisk { background-position: -456px -96px }

.icon-exclamation-sign { background-position: 0 -120px }

.icon-gift { background-position: -24px -120px }

.icon-leaf { background-position: -48px -120px }

.icon-fire { background-position: -72px -120px }

.icon-eye-open { background-position: -96px -120px }

.icon-eye-close { background-position: -120px -120px }

.icon-warning-sign { background-position: -144px -120px }

.icon-plane { background-position: -168px -120px }

.icon-calendar { background-position: -192px -120px }

.icon-random {
    background-position: -216px -120px;
    width: 16px;
}

.icon-comment { background-position: -240px -120px }

.icon-magnet { background-position: -264px -120px }

.icon-chevron-up { background-position: -288px -120px }

.icon-chevron-down { background-position: -313px -119px }

.icon-retweet { background-position: -336px -120px }

.icon-shopping-cart { background-position: -360px -120px }

.icon-folder-close { background-position: -384px -120px }

.icon-folder-open {
    background-position: -408px -120px;
    width: 16px;
}

.icon-resize-vertical { background-position: -432px -119px }

.icon-resize-horizontal { background-position: -456px -118px }

.icon-hdd { background-position: 0 -144px }

.icon-bullhorn { background-position: -24px -144px }

.icon-bell { background-position: -48px -144px }

.icon-certificate { background-position: -72px -144px }

.icon-thumbs-up { background-position: -96px -144px }

.icon-thumbs-down { background-position: -120px -144px }

.icon-hand-right { background-position: -144px -144px }

.icon-hand-left { background-position: -168px -144px }

.icon-hand-up { background-position: -192px -144px }

.icon-hand-down { background-position: -216px -144px }

.icon-circle-arrow-right { background-position: -240px -144px }

.icon-circle-arrow-left { background-position: -264px -144px }

.icon-circle-arrow-up { background-position: -288px -144px }

.icon-circle-arrow-down { background-position: -312px -144px }

.icon-globe { background-position: -336px -144px }

.icon-wrench { background-position: -360px -144px }

.icon-tasks { background-position: -384px -144px }

.icon-filter { background-position: -408px -144px }

.icon-briefcase { background-position: -432px -144px }

.icon-fullscreen { background-position: -456px -144px }

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    filter: alpha(opacity=40);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

form.form-stacked input[name='video'] {
    width: 99%;
}


.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-color: #f99f39;
    background-image: -moz-linear-gradient(top,#fbb449,#f77f21);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb449),to(#f77f21));
    background-image: -webkit-linear-gradient(top,#fbb449,#f77f21);
    background-image: -o-linear-gradient(top,#fbb449,#f77f21);
    background-image: linear-gradient(to bottom,#fbb449,#f77f21);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb449',endColorstr='#fff77f21',GradientType=0);
    border-color: #f77f21 #f77f21 #c45a07;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #f77f21;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #aa8153;
    *border: 0;
    border-bottom-color: #886742;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    *color: #333;
    background-color: #f77f21;
    *background-color: #f67109;
}

.btn:active, .btn.active { background-color: #dd6608 \9 }

.btn:first-child { *margin-left: 0 }

.btn:hover {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
}

.btn.disabled, .btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-large {
    padding: 11px 19px;
    font-size: 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-large [class^="icon-"], .btn-large [class*=" icon-"] { margin-top: 4px }

.btn-small {
    padding: 2px 10px;
    font-size: 10.2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-small [class^="icon-"], .btn-small [class*=" icon-"] { margin-top: 0 }

.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] { margin-top: -1px }

.btn-mini {
    padding: 0 6px;
    font-size: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-block + .btn-block { margin-top: 5px }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { width: 100% }

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active { color: rgba(255,255,255,0.75) }

.btn {
    border-color: #c5c5c5;
    border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top,#08c,#04c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: -o-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
    border-color: #04c #04c #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #04c;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #fff;
    background-color: #04c;
    *background-color: #003bb3;
}

.btn-primary:active, .btn-primary.active { background-color: #039 \9 }

.btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #faa732;
    background-image: -moz-linear-gradient(top,#fbb450,#f89406);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
    background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
    background-image: -o-linear-gradient(top,#fbb450,#f89406);
    background-image: linear-gradient(to bottom,#fbb450,#f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',endColorstr='#fff89406',GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #f89406;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    color: #fff;
    background-color: #f89406;
    *background-color: #df8505;
}

.btn-warning:active, .btn-warning.active { background-color: #c67605 \9 }

.btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
    background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #bd362f;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    color: #fff;
    background-color: #bd362f;
    *background-color: #a9302a;
}

.btn-danger:active, .btn-danger.active { background-color: #942a25 \9 }

.btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #51a351;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    color: #fff;
    background-color: #51a351;
    *background-color: #499249;
}

.btn-success:active, .btn-success.active { background-color: #408140 \9 }

.btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
    background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2f96b4',GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #2f96b4;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: #fff;
    background-color: #2f96b4;
    *background-color: #2a85a0;
}

.btn-info:active, .btn-info.active { background-color: #24748c \9 }

.btn-inverse {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top,#444,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
    background-image: -webkit-linear-gradient(top,#444,#222);
    background-image: -o-linear-gradient(top,#444,#222);
    background-image: linear-gradient(to bottom,#444,#222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);
    border-color: #222 #222 #000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color: #222;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    color: #fff;
    background-color: #222;
    *background-color: #151515;
}

.btn-inverse:active, .btn-inverse.active { background-color: #080808 \9 }

button.btn, input[type="submit"].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button.btn.btn-large, input[type="submit"].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}

button.btn.btn-small, input[type="submit"].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

button.btn.btn-mini, input[type="submit"].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}

.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #08c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-link:hover {
    color: #005580;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link[disabled]:hover {
    color: #333;
    text-decoration: none;
}

.btn-group {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
    *margin-left: .3em;
}

.btn-group:first-child { *margin-left: 0 }

.btn-group + .btn-group { margin-left: 5px }

.btn-toolbar {
    font-size: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group { margin-left: 5px }

.btn-group > .btn {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-group > .btn + .btn { margin-left: -1px }

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover { font-size: 12px }

.btn-group > .btn-mini { font-size: 9px }

.btn-group > .btn-small { font-size: 10.2px }

.btn-group > .btn-large { font-size: 15px }

.btn-group > .btn:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group > .btn.large:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
}

.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}

.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active { z-index: 2 }

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline: 0 }

.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125),inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125),inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(255,255,255,.125),inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    *padding-top: 5px;
    *padding-bottom: 5px;
}

.btn-group > .btn-mini + .dropdown-toggle {
    padding-left: 5px;
    padding-right: 5px;
    *padding-top: 2px;
    *padding-bottom: 2px;
}

.btn-group > .btn-small + .dropdown-toggle {
    *padding-top: 5px;
    *padding-bottom: 4px;
}

.btn-group > .btn-large + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
    *padding-top: 7px;
    *padding-bottom: 7px;
}

.btn-group.open .dropdown-toggle {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
}

.btn-group.open .btn.dropdown-toggle { background-color: #f77f21 }

.btn-group.open .btn-primary.dropdown-toggle { background-color: #04c }

.btn-group.open .btn-warning.dropdown-toggle { background-color: #f89406 }

.btn-group.open .btn-danger.dropdown-toggle { background-color: #bd362f }

.btn-group.open .btn-success.dropdown-toggle { background-color: #51a351 }

.btn-group.open .btn-info.dropdown-toggle { background-color: #2f96b4 }

.btn-group.open .btn-inverse.dropdown-toggle { background-color: #222 }



#pop_condition a {
    color: #ccc;
    padding:1px 3px 1px 3px;
    border:1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 3px;
}
#pop_condition a:hover{
    text-decoration: none;
}


.btn .caret {
    margin-top: 8px;
    margin-left: 0;
}

.btn-mini .caret, .btn-small .caret, .btn-large .caret { margin-top: 6px }

.btn-large .caret {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
}

.dropup .btn-large .caret { border-bottom-width: 5px }

.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.btn-group-vertical {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.btn-group-vertical > .btn {
    display: block;
    float: none;
    max-width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-group-vertical > .btn + .btn {
    margin-left: 0;
    margin-top: -1px;
}

.btn-group-vertical > .btn:first-child {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.btn-group-vertical > .btn:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.btn-group-vertical > .btn-large:first-child {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.btn-group-vertical > .btn-large:last-child {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.btn {
    color: #fff;
    text-shadow: none;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f77f21;
    *background-color: #f67109;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn .caret {
    margin-top: 6px;
    border-top-color: #fff;
    border-top-bottom: #fff;
}

.pagination { margin: 16px 0 }

.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.pagination ul > li { display: inline }

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 16px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span { background-color: #f5f5f5 }

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999;
    cursor: default;
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover {
    color: #999;
    background-color: transparent;
    cursor: default;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.pagination-centered { text-align: center }

.pagination-right { text-align: right }

.pagination-large ul > li > a, .pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 15px;
}

.pagination-large ul > li:first-child > a, .pagination-large ul > li:first-child > span {
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-large ul > li:last-child > a, .pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

.pagination-small ul > li > a, .pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 10.2px;
}

.pagination-mini ul > li > a, .pagination-mini ul > li > span {
    padding: 0 6px;
    font-size: 9px;
}

.pager {
    margin: 16px 0;
    list-style: none;
    text-align: center;
    *zoom: 1;
}

.pager:before, .pager:after {
    display: table;
    content: "";
    line-height: 0;
}

.pager:after { clear: both }

.pager li { display: inline }

.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager li > a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

.pager .next > a, .pager .next > span { float: right }

.pager .previous > a, .pager .previous > span { float: left }

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > span {
    color: #999;
    background-color: #fff;
    cursor: default;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade { opacity: 0 }

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: .8;
    filter: alpha(opacity=80);
}

.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal.fade {
    -webkit-transition: opacity .3s linear,top .3s ease-out;
    -moz-transition: opacity .3s linear,top .3s ease-out;
    -o-transition: opacity .3s linear,top .3s ease-out;
    transition: opacity .3s linear,top .3s ease-out;
    top: -25%;
}

.modal.fade.in { top: 10% }

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}

.modal-header .close { margin-top: 2px }

.modal-header h3 {
    margin: 0;
    line-height: 30px;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
}

.modal-form { margin-bottom: 0 }

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    *zoom: 1;
}

.modal-footer:before, .modal-footer:after {
    display: table;
    content: "";
    line-height: 0;
}

.modal-footer:after { clear: both }

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn { margin-left: -1px }

.modal-footer .btn-block + .btn-block { margin-left: 0 }

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: .8;
    filter: alpha(opacity=80);
}

.tooltip.top { margin-top: -3px }

.tooltip.right { margin-left: 3px }

.tooltip.bottom { margin-top: 3px }

.tooltip.left { margin-left: -3px }

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    width: 236px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    white-space: normal;
}

.popover.top { margin-top: -10px }

.popover.right { margin-left: 10px }

.popover.bottom { margin-top: 10px }

.popover.left { margin-left: -10px }

.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.popover-content { padding: 9px 14px }

.popover .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover .arrow { border-width: 11px }

.popover .arrow:after {
    border-width: 10px;
    content: "";
}

.popover.top .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,0.25);
    bottom: -11px;
}

.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff;
}

.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999;
    border-right-color: rgba(0,0,0,0.25);
}

.popover.right .arrow:after {
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #fff;
}

.popover.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,0.25);
    top: -11px;
}

.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff;
}

.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0,0,0,0.25);
}

.popover.left .arrow:after {
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff;
    bottom: -10px;
}

.thumbnails {
    margin-left: -10px;
    list-style: none;
    *zoom: 1;
}

.thumbnails:before, .thumbnails:after {
    display: table;
    content: "";
    line-height: 0;
}

.thumbnails:after { clear: both }

.row-fluid .thumbnails { margin-left: 0 }

.thumbnails > li {
    float: left;
    margin-bottom: 16px;
    margin-left: 10px;
}

.thumbnail {
    display: block;
    padding: 4px;
    line-height: 16px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.thumbnail:hover {
    border-color: #08c;
    -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}

.thumbnail > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail .caption {
    padding: 9px;
    color: #555;
}

.pull-right { float: right }

.pull-left { float: left }

.hide { display: none }

.show { display: block }

.invisible { visibility: hidden }

.affix { position: fixed }

