<div class="container widget-app">
    <div class="row-fluid">
        <div class="span10">
            <h1>
                <span class="logo nada-logo hide"><img src="img/nada-logo.jpg" /></span><span data-lang="title" class="title">Your Free Internet Trade-In Appraisal</span>
            </h1>
        </div>
    </div>
    <div class="widget-content"></div>
    <hr />
    <footer>
        <p>
            <small data-lang="footer.copy">This appraisal or this trade-in offer is provided by <span id="dealership-name">this dealership</span> which is solely responsible for it.<br/>
            We respect your right to privacy. All information provided will remain confidential and will not be disclosed to any other party. Patent Pending. &copy; 2011, TradeInVelocity. All rights reserved. Copyright NADASC/NADAguides, <span id='current-year'></span> , all rights reserved.</small>
        </p>
    </footer>
</div>