﻿<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body id="MainBody" class="bodyTableWhite" style="background: white;font-size: 13px;font-family: Arial;color: #444;margin: 0">
        <form>
            <div>
                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td align="center" valign="top">
                            <div id="updatePanel">
                                <table class="contentTable" style="background-color: white">
                                    <tr>
                                        <td colspan="2">
                                            <div id="PageText_pnlPrintContent">

                                                <div id="divContent">

                                                    <div id="PageText_pnlTradeVehicle" class="div_Panel" style="background: white;min-height: 100px;padding: 10px;margin: 5px 0">
                                                        <h1 style="color: #f5831f;font-weight: bold;margin: 3px 0;font-family: Arial;font-size: 20px">Trade-In Vehicle Appraisal</h1>
                                                        <div>
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td width="230px" valign="top" class="td_TradeVehicleInformation" style="font-size: 12px;line-height: 18px">
                                                                        <div class="div_PictureHolder">
                                                                            <a href="<%= lead.big_image %>" rel="TradeImage"><img src="<%= lead.thumb_image %>" style="border: none" /></a>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align: top">
                                                                        <table width="100%" cellpadding="0" cellspacing="0" class="vehicleDescription" style="color: #006;font-family: Arial;font-size: 14px">
                                                                            <tr>
                                                                                <td style="padding: 0 0 10px 0">
                                                                                    <b> Vehicle:</b> <%= lead.make %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 0 0 10px 0">
                                                                                    <b> Model:</b> <%= lead.model %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 0 0 10px 0">
                                                                                    <b> Mileage:</b> <%= lead.mileage %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 0 0 10px 0">
                                                                                    <b> Zip: </b> <%= lead.zipcode %>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td valign="top">
                                                                        <div class="div_AppraisalTableContainer">
                                                                            <table id="PageText_tblAppraisal" cellspacing="0" cellpadding="5" border="1" style="width:100%;border-collapse:collapse;">
                                                                                <tr class="tr_AppraisalHeading underline" style="font-weight: bold;color: #333">
                                                                                    <td style="border-bottom: 1px #CCC solid">
                                                                                        Base Range  <%= lead.condition %>
                                                                                    </td>
                                                                                    <td align="right" style="width: 200px;border-bottom: 1px #CCC solid">
                                                                                        <%= lead.base_range %>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="tr_AppraisalHeading" style="font-weight: bold;color: #333">
                                                                                    <td>
                                                                                        Optional Equipment
                                                                                    </td>
                                                                                    <td align="right" style="width:200px;">
                                                                                        <%= lead.options_adj %>
                                                                                    </td>
                                                                                </tr>
                                                                                 <tr class="tr_AppraisalHeading" style="font-weight: bold;color: #333">
                                                                                    <td>
                                                                                    <table style="width:100%;">                                                                                                                                                                      
																						<% _.each(lead.options, function(option) { %>
																							<tr class="tr_AppraisalEquipment underline">
																								<td style="margin-left:20px"> &#8226; <%= option.name %></td>
																								<td align="right" style="width:100px;"><%= option.value %></td>
																							</tr>
																						<% }); %>
																					</table>
																					</td>
                                                                                  <td align="right" style="width:200px;">

                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="tr_AppraisalHeading underline" style="font-weight: bold;color: #333">
                                                                                    <td style="border-bottom: 1px #CCC solid; border-top: 1px #CCC solid;">
                                                                                        Mileage Adjustment (<%= lead.mileage %> miles)
                                                                                    </td>
                                                                                    <td align="right" style="width: 200px;border-bottom: 1px #CCC solid; border-top: 1px #CCC solid;">
                                                                                        <%= lead.mileage_adj %>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="tr_AppraisalTotal" style="background: #f5f5f5;font-size: 17px;font-weight: bold;color: #ba0606">
                                                                                    <td>
                                                                                        <h1 style="color: #f5831f;font-weight: bold;margin: 3px 0;font-family: Arial;font-size: 20px">Total</h1>
                                                                                    </td>
                                                                                    <td align="right" style="width:200px;">
                                                                                        <h1 style="color: #f5831f;font-weight: bold;margin: 3px 0;font-family: Arial;font-size: 20px"><%= lead.total %></h1>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div id="PageText_pnlDesiredVehicle" class="div_Panel" style="background: white;min-height: 100px;padding: 10px;margin: 5px 0">
                                                        <h1 style="color: #f5831f;font-weight: bold;margin: 3px 0;font-family: Arial;font-size: 20px">Desired Replacement Vehicle </h1>
                                                        <div>
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td width="230px" valign="top" class="td_TradeVehicleInformation" style="font-size: 12px;line-height: 18px">
                                                                        <div class="div_PictureHolder" id="DesiredDiv">
                                                                            <a href="<%= lead.desired_big_image %>" rel="TradeImage"><img width="200" src="<%= lead.desired_thumb_image %>" style="border: none;width:200px;" /></a>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align: top;">
                                                                        <table width="100%" cellspacing="0" class="vehicleDescription" style="color: #006;font-family: Arial;font-size: 14px">
                                                                            <tr>
                                                                                <td style="padding: 0 0 10px 0">
                                                                                    <b> Vehicle:</b> <%= lead.desiredmake %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 0 0 10px 0">
                                                                                    <b> Model:</b> <%= lead.desiredmodel %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 0 0 10px 0">
                                                                                    <b> Mileage:</b> <%= lead.desiredmileage %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding: 0 0 10px 0">
                                                                                    <b> Zip: </b> <%= lead.zipcode %>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td valign="top" class="td_DesiredVehicleInformation" style="line-height: 18px;font-size: 12px">
                                                                        <div class="div_AppraisalTableContainer">
                                                                            <table id="PageText_tblVehicleComparison" cellpadding="5" border="1" style="width:100%;border-collapse:collapse;">
                                                                                <tr class="tr_AppraisalHeading underline" style="font-weight: bold;color: #333">
                                                                                    <td class="tr_AppraisalRowCellHeading" align="left" style="font-weight: bold;border-bottom: 1px #CCC solid"></td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <h3 style="color: #f5831f">Trade-In Vehicle</h3>
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <h3 style="color: #f5831f">Desired Vehicle</h3>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="underline">
                                                                                    <td class="tr_AppraisalRowCellHeading" align="left" style="font-weight: bold;border-bottom: 1px #CCC solid">
                                                                                        Year
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <%= lead.year %>
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <%= lead.desiredyear %>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="underline">
                                                                                    <td class="tr_AppraisalRowCellHeading" align="left" style="font-weight: bold;border-bottom: 1px #CCC solid">
                                                                                        Make
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <%= lead.make %>
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <%= lead.desiredmake %>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="underline">
                                                                                    <td class="tr_AppraisalRowCellHeading" align="left" style="font-weight: bold;border-bottom: 1px #CCC solid">
                                                                                        Model
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <%= lead.model %>
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <%= lead.desiredmodel %>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="underline">
                                                                                    <td class="tr_AppraisalRowCellHeading" align="left" style="font-weight: bold;border-bottom: 1px #CCC solid">
                                                                                        Body
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <%= lead.trim %>
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                        <%= lead.desiredtrim %>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <h1 style="color: #f5831f;font-weight: bold;margin: 3px 0;font-family: Arial;font-size: 20px">Total:</h1>
                                                                                    </td>
                                                                                     <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                         <h1 style="color: #f5831f;font-weight: bold;margin: 3px 0;font-family: Arial;font-size: 20px"><%= lead.total %></h1>
                                                                                    </td>
                                                                                    <td align="center" style="border-bottom: 1px #CCC solid">
                                                                                         <h1 style="color: #f5831f;font-weight: bold;margin: 3px 0;font-family: Arial;font-size: 20px"><%= lead.price %></h1>
                                                                                    </td>
                                                                                    
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div id="PageText_pnlSpecialOffer" class="div_Panel" style="background: white;min-height: 100px;padding: 10px;margin: 5px 0">
                                                        <div class="div_SectionTitle">
                                                            <div class="row-fluid dealer-promotion">
                                                                <h1 data-lang="customer.promotion.title" style="color: #f5831f;font-weight: bold;margin: 3px 0;font-family: Arial;font-size: 20px">Dealer Promotion</h1>
                                                                <img src="<%= lead.promo_image %>" style="border: none" />
                                                                <p style="text-align: center; ">
                                                                    <%= lead.promo_text %>                                                                    
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="PageText_pnlDealershipContact" class="div_Panel" style="background: white;min-height: 100px;padding: 10px;margin: 5px 0">

                                                        <h1 style="color: #f5831f;font-weight: bold;margin: 3px 0;font-family: Arial;font-size: 20px">Dealership Information</h1>
                                                        <div>
                                                            <table border="0" cellpadding="0" cellspacing="3" width="100%">
                                                                <tr>
                                                                    <td valign="top">
                                                                        <div>
                                                                            <leadaddress></leadaddress>
                                                                        </div>

                                                                    </td>
                                                                    <td valign="top" width="490px">
                                                                        <div id="map_canvas" style="height: 400px;">
                                                                            <img src="<%= lead.map_url %>" alt="Google Map" style="border: none" />
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table><div id="directions"></div>

                                                            <div class="div_AppraisalDisclaimer" style="font-size: 11px">
                                                                <div style="margin: 10px;">
                                                                    <ol>
                                                                        <li>
                                                                            <strong data-lang="review.rules.statement.title">Vehicle Condition Statement:</strong>
                                                                            <span data-lang="review.rules.statement.text">The price quoted above reflects a vehicle in the selected condition. Cost of necessary repairs and reconditioning (if needed) could affect the final appraised value. Depending on the vehicle‚Äôs condition and equipment, your dealer might offer you more or less for your vehicle.</span>
                                                                        </li>
                                                                        <li>
                                                                            <strong data-lang="review.rules.information.title">Important Information:</strong>
                                                                            <span data-lang="review.rules.information.text">Please ask your dealer about possible savings by taking advantage of state sales tax credits. A sales representative will contact you for further information. This estimate is based on the information provided and is not an offer to purchase your vehicle. The actual offer you receive on your trade-in may be more depending on your vehicle‚Äôs condition.</span>
                                                                        </li>
                                                                        <li>
                                                                            <strong data-lang="review.rules.privacy.title">Privacy:</strong>
                                                                            <span data-lang="review.rules.privacy.text">We respect your right to privacy. All information provided will remain confidential and will not be disclosed to any other party.</span>
                                                                        </li>
                                                                        <li>
                                                                            <strong data-lang="review.rules.responsibility.title">Responsibility:</strong>
                                                                            <span data-lang="review.rules.responsibility.text">This appraisal is provided by TradeInVelocity which is solely responsible for it.</span>
                                                                        </li>
                                                                    </ol><strong data-lang="review.rules.expiration.title">Expiration:</strong>
                                                                    <span data-lang="review.rules.expiration.text">Please note this Vehicle Appraisal is valid for <span class="expiration-days"><%= lead.AppraisalExpiry %></span> days after the date of the appraisal</span>
                                                                    <h4 class="expiration-date-notice">(<span data-lang="review.rules.expiration.text_desc">Expires on</span><span class="expiration-date"><%= lead.expirationdate %></span>)</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="div_Disclaimer" style="clear: both;font-size: 10px;text-align: justify">
                                                We respect your right to privacy. All information provided will remain confidential and will not be disclosed to any other party. Patent Pending. &copy; 2011, TradeInVelocity. All rights reserved. Copyright NADASC/NADAguides, <span id='current-year'></span> , all rights reserved.
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <img src="http://tivmail.tradeinvelocity.com/wf/open?upn=0pAFRdI8PTZ1nIAwnjNr8CGHy1uwaVoQOc9kiL3XBnBWqlSE205DPbCuNXxDdcn1wWmb2EH3wxPoGE5908pdlcub85VZxS5KBmXlEta4ELAJBLwoPrXVcNybfFLsBhEt974o6OQGDooIHwGBGKsgW9KgonijRTC5PhWzSG9DKxM-3D" alt="" width="1" height="1" border="0" style="height: 1px !important;width: 1px !important;border-width: 0 !important;margin-top: 0 !important;margin-bottom: 0 !important;margin-right: 0 !important;margin-left: 0 !important;padding-top: 0 !important;padding-bottom: 0 !important;padding-right: 0 !important;padding-left: 0 !important;border: none" />
    </body>
    <div id="fb-root"></div>
</html>
