<div class="row-fluid calculator" data-modal-title="Calculate Payment">
    <div class="span10">
        <div style="text-align: center" data-lang="calc.text">
            Complete the fields below to estimate your monthly payment.
        </div>
        <div style="margin: 15px; border: 1px #F5831F solid; padding: 15px;">
            <form class="form-horizontal">
                <div class="row-fluid">
                    <div class="span5">
                        <label class="control-label" for="price" data-lang="calc.label.price">Vehicle Price:</label>
                    </div>
                    <div class="span5">
                        <div class="input-prepend">
                            <input class="span7" id="price" type="text" placeholder="Price" name="price" />
                            <span>$</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        <label class="control-label" for="interest_rate" data-lang="calc.label.apr">Interest Rate (APR):</label>
                    </div>
                    <div class="span5">
                        <div class="input-prepend">
                            <input class="span7" id="interest_rate" type="text" placeholder="Interest Rate" name="interest_rate" />
                            <span>%</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                    <label class="control-label" for="loan_length" data-lang="calc.label.length">Length of Loan:</label>
                    </div>
                    <div class="span5">
                        <div class="input-prepend">
                            <input class="span5" id="loan_length" type="text" placeholder="Length of Loan" name="loan_length" />
                            <strong>Months</strong>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                    <label class="control-label" for="down_payment" data-lang="calc.label.down_pmt">Down Payment:</label>
                    </div>
                    <div class="span5">
                        <div class="input-prepend">
                            <input class="span7" id="down_payment" type="text" placeholder="Down Payment" name="down_payment" />
                            <span>$</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                    <label class="control-label" for="trade_in_value" data-lang="calc.label.trade_in">Trade-In Value:</label>
                    </div>
                    <div class="span5">
                        <div class="input-prepend">
                            <input class="span7" id="trade_in_value" type="text" placeholder="Trade-In Value" name="trade_in_value" />
                            <span>$</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                    <label class="control-label" for="total"><h4 data-lang="calc.label.total">Your Monthly Payment:</h4></label>
                    </div>
                    <div class="span5">
                        <div class="input-prepend">
                            <input class="span4" id="total" type="text" name="total" disabled="true" />
                            <span>$</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span10">
                        <div class="pull-right">
                            <button type="button">
                                Calculate
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="text-align: left;" data-lang="calc.disclaimer">
            This tool is for estimation only and does not represent an offer that can be accepted by you. Please contact your Dealership for finance options.
        </div>

    </div>
</div>