<div class="row-fluid file-upload" data-modal-title="Upload Vehicle Image">
    <div class="span10">
        <div data-lang="upload.image.text">
            You can upload up to 10 images of the vehicle you currently own. A high quality image is not compulsory, but will help with a more accurate appraisal!
        </div>
        <div style="margin: 15px; border: 1px #F5831F solid; padding: 15px;">
             <form id="fileupload" class="form-horizontal" method="POST" enctype="multipart/form-data">
                <h4 data-lang="upload.image.label">Select File:</h4>
                <div class="media-container">
                    <div class="row-fluid image-row" style='margin-top:3px;'>
                        <div class="span7">
                            <div id="progress">
                                <div class="bar" style="background: #F5831F; text-align: center; color: white; line-height: 24px; width: 0%;">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <span class="btn fileinput-button">
                                <i class="icon-plus icon-white"></i>
                                <span data-lang="upload.image.button">Add files...</span>
                                <input type="file" name="files[]" multiple>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row-fluid">
                <div class="span10">
                    <div class="error"></div>
                    <button class="tiv-btn tiv-btn-photo-modal pull-right" data-lang="buttons.upload_image" type="button">Upload Vehicle Photo</button>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <p data-lang="upload.image.disclaimer">
                File Types: JPG, JPEG, PNG, BMP, GIF
                <br />
                Maximum 10 Images
                <br />
                Size Limit: 2MB
            </p>
        </div>
    </div>
</div>