<div class="row-fluid file-upload" data-modal-title="Upload Vehicle Video">
    <div class="span10">
        <div class="upload-video">
            <div data-lang="upload.video.text">
                Upload a video of your Trade in directly to youtube!
            </div>
            <div style="margin: 15px; border: 1px #F5831F solid; padding: 15px; overflow: auto;">
                 <form id="fileupload" class="form-horizontal" method="POST" enctype="multipart/form-data">
                    <h4 data-lang="upload.video.label">Select File:</h4>
                    <div class="media-container">
                        <div class="row-fluid image-row">
                            <div class="span7">
                                <div id="progress">
                                    <div class="bar" style="background: #F5831F; text-align: center; color: white; line-height: 24px; width: 0%;">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <span class="btn fileinput-button">
                                    <i class="icon-plus icon-white"></i>
                                    <span data-lang="upload.video.button">Add file...</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: left; margin-top: 3px;" data-lang="upload.video.disclaimer">
                        <p>
                        Please note that it is your responsibility to ensure that all video uploaded to YouTube adheres to YouTube terms and conditions regarding video content, format, size and length.
                        </p>
                        <p>
                        The size of your video will impact the amount of time it takes for the video to upload.
                        </p>
                    </div>
                </form>
                <div class="row-fluid">
                    <div class="span10">
                        <div class="error"></div>
                        <button class="tiv-btn tiv-btn-video-modal upload pull-right" data-lang="buttons.upload_video" type="button">Upload Vehicle Video</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="upload-youtube">
            <div data-lang="upload.video.youtube_text">
                Already have an uploaded video?
            </div>
            <div style="margin: 15px; border: 1px #F5831F solid; padding: 15px; overflow: auto;">
                <form class="form-stacked">
                    <label>YouTube URL</label>
                    <input type="text" name="video">
                    <div class="help-block" data-lang="upload.video.youtube_help">Enter your YouTube URL in the box above.</div>
                </form>
                <button class="tiv-btn tiv-btn-video-modal url pull-right" data-lang="buttons.upload_video" type="button">Upload Vehicle Video</button>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>