<div class="row-fluid" data-modal-title="Vehicle Features">
    <div class="span4">
        <div class="thumbnail">
            <%= item.image %>
        </div>

        <h4><span data-lang="car.label.price">Price:</span> $<%= item.price %></h4>
        <div>
            <strong><%= item.year %> - <%= item.make %></strong>
        </div>
        <div>
            <%= item.model %> - <%= item.body %>
        </div>
        <div>
            <strong data-lang="car.label.city_mpg">City MPG:</strong> <%= item.cityMPG %>
        </div>
        <div>
            <strong data-lang="car.label.hwy_mpg">Highway MPG:</strong> <%= item.highwayMPG %>
        </div>
        <div>
            <strong data-lang="car.label.exterior_color">Exterior Color:</strong> <%= item.exteriorColor %>
        </div>
        <div>
            <strong data-lang="car.label.interior_color">Interior Color:</strong> <%= item.interiorColor %>
        </div>
        <div>
            <strong data-lang="car.label.stock_number">Stock Number:</strong> <%= item.interiorColor %>
        </div>
    </div>
    <div class="span6">
        <table class="table table-striped table-bordered table-condensed vehicle-options">
            <tbody></tbody>
        </table>
    </div>
    <script id="option-template" type="text/tpl">
        <tr><td></td></tr>
    </script>
</div>