<div class="row-fluid dealer-promotion">
    <div class="span10">
        <div class="panel">
            <div class="panel-content">
                <h2 data-lang="customer.promotion.title">Dealer Promotion</h2>
                <div class="thumbnail">
                    <img src="<%= promo.image %>" />                                
                </div>
                <p style="text-align: center; ">
                    <%= promo.text %>
                </p>
            </div>
        </div>
    </div>
</div>