<div class="widget-step">
    <div class="review-step">
        <!-- Example row of columns -->
        <div class="row">
            <div class="span10">
                <div class="panel">
                    <div class="panel-content">
                        <h2>
                            <div class="pull-right help-block util-icon-block">
                                <!--<img src="img/email-icon.png" data-trigger="email" />-->
                                <img src="img/print.png" data-toggle="print" />
                            </div>
                            <span data-lang="review.summary.title">Summary</span>
                        </h2>
                        <p data-lang="review.summary.text">
                            Please print this summary and bring it with you when you visit us. A copy has been sent to your e-mail address and to our sales department.
                        </p>
                        <div style="text-align: center;">
                            <button id="btn-creditapp" class="tiv-btn" data-lang="buttons.credit_app" style="display: none;">Credit Application</button>
                            <button id="btn-newinv" class="tiv-btn" data-lang="buttons.new_inv" style="display: none;">New Inventory</button>
                            <button id="btn-usedinv" class="tiv-btn" data-lang="buttons.used_inv" style="display: none;">Used Inventory</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span10">
                <div class="panel">
                    <div class="panel-content tradein-panel">
                        <h2 data-lang="review.tradein.title">Trade-In Vehicle Appraisal</h2>
                        <div class="row-fluid">
                            <div class="span4 left-col">
                                <div class="vehicle-image">
                                    <img src="http://placehold.it/300x225" />
                                </div>
                                <div style="margin-top: 5px;">
                                    <strong data-lang="review.tradein.year">Year:</strong>
                                    <span name="year"></span>
                                </div>
                                <div>
                                    <strong data-lang="review.tradein.vehicle">Vehicle:</strong>
                                    <span name="make"></span>
                                    <span name="model"></span>
                                </div>
                                <div>
                                    <strong data-lang="review.tradein.mileage">Mileage:</strong>
                                    <span name="mileage"></span>
                                </div>
                                <div>
                                    <strong data-lang="review.tradein.zip">Zip:</strong>
                                    <span name="zipcode"></span>
                                </div>
                                <div>
                                    <strong data-lang="review.tradein.year">Year:</strong>
                                    <span name="year"></span>
                                </div>
                            </div>
                            <div class="span6 right-col" id="tvalsb1" style="display:none;">
                                <p>
                                    Insufficient data for valuation.
                                </p>
                            </div>
                            <div class="span6 right-col" id="tvalsa1">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label class="control-label" data-lang="review.tradein.range">Base Range <span name="condition2"></span>:</label>
                                    </div>
                                    <div class="span1"></div>
                                    <div class="span5">
                                        <h4 style="color: black" name="base_range"></h4>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label class="control-label" data-lang="review.tradein.opt_equip">Optional Equipment:</label>
                                    </div>
                                    <div class="span1"></div>
                                    <div class="span5">
                                        <h4 style="color: black" name="options_adj"></h4>
                                    </div>
                                </div>
                                <div class="hide" data-section="optional-equipment">
                                    <div class="row-fluid" style="margin-bottom: 2px;">
                                        <div class="span1" style="min-height: 10px;"></div>
                                        <div class="span6" style="min-height: 10px;">
                                            <small><%= option.name %></small>
                                        </div>
                                        <div class="span3" style="min-height: 10px;">
                                            <small><%= option.value %></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label class="control-label" data-lang="review.tradein.mileage_adj">Mileage Adjustment:</label>
                                    </div>
                                    <div class="span1"></div>
                                    <div class="span5">
                                        <h4 style="color: black" name="mileage_adj"></h4>
                                    </div>
                                </div>

                                <div class="row-fluid" style="border-top: 4px #ECECEC solid;">
                                    <div class="span4">
                                        <h2 data-lang="review.tradein.total">Total</h2>
                                    </div>
                                    <div class="span1"></div>
                                    <div class="span5">
                                        <h2 name="range"></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row desired-panel hide">
            <div class="span10">
                <div class="panel">
                    <div class="panel-content">
                        <h2 data-lang="review.desired.title">Desired Vehicle Replacement</h2>
                        <div class="row-fluid">
                            <div class="span4 left-col">
                                <div class="vehicle-image">
                                    <img id="dv-img" src="http://placehold.it/300x225" />
                                </div>
                                <div>
                                    <strong data-lang="review.desired.vehicle">Vehicle:</strong>
                                    <span data-source="desired" name="make" id="dv-make2"></span>
                                    <span data-source="desired" name="model" id="dv-model2"></span>
                                </div>
                                <div>
                                    <strong data-lang="review.desired.mileage">Mileage:</strong>
                                    <span data-source="desired" name="mileage" id="dv-mileage"></span>
                                </div>
                                <div>
                                    <strong data-lang="review.desired.zip">Zip:</strong>
                                    <span data-source="tradein" name="zipcode" id="dv-zip"></span>
                                </div>
                            </div>
                            <div class="span6 right-col">
                                <div class="row-fluid" style="border-bottom: 4px #ECECEC solid;">
                                    <div class="span2">
                                    </div>
                                    <div class="span4">
                                        <h3 data-lang="review.desired.tradein_title">Trade-In Vehicle
                                        </h3>
                                    </div>
                                    <div class="span4">
                                        <h3 data-lang="review.desired.desired_title">Desired Vehicle
                                        </h3>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <strong class="control-label" data-lang="review.desired.compare.year">Year</strong>
                                    </div>
                                    <div class="span4">
                                        <span data-source="tradein" name="year"></span>
                                    </div>
                                    <div class="span4">
                                        <span data-source="desired" name="year" id="dv-year"></span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <strong class="control-label" data-lang="review.desired.compare.make">Make</strong>
                                    </div>
                                    <div class="span4">
                                        <span data-source="tradein" name="make"></span>
                                    </div>
                                    <div class="span4">
                                        <span data-source="desired" name="make" id="dv-make"></span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <strong class="control-label" data-lang="review.desired.compare.model">Model</strong>
                                    </div>
                                    <div class="span4">
                                        <span data-source="tradein" name="model"></span>
                                    </div>
                                    <div class="span4">
                                        <span data-source="desired" name="model" id="dv-model"></span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <strong class="control-label" data-lang="review.desired.compare.body">Body</strong>
                                    </div>
                                    <div class="span4">
                                        <span data-source="tradein" name="trim"></span>
                                    </div>
                                    <div class="span4">
                                        <span data-source="desired" name="body"></span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <h2 data-lang="review.desired.total">Total</h2>
                                    </div>
                                    <div class="span4"></div>
                                    <div class="span4">
                                        <h2 data-source="desired" name="price" id="dv-price"></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid calculator-row">
                            <div class="span10">
                                <label class="pull-right" data-trigger="calculator">
                                    <img src="img/calculator.png" />
                                    <span data-lang="review.desired.calculate_pmt">Calculate Payment</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promotion-container"></div>
        <div class="row-fluid dealer-contact" style="margin-top: 20px;" id="dealer-contact">
            <div class="span10">
                <div class="panel">
                    <div class="panel-content">
                        <h2 data-lang="review.contact.title">Your Dealership Contact</h2>
                        <div class="row-fluid">
                            <div class="span4">
                                <address class="contact-section">
                                    <h3 data-lang="review.contact.dealership_info">Dealership Information</h3>
                                    <strong name="DealerName" id="cinfoName"></strong>
                                    <div name="Street" id="cinfoStreet"></div>
                                    <div name="City" id="cinfoCity"></div>
                                    <div><span name="State" id="cinfoState"></span>, <span name="Zip" id="cinfoZip"></span></div>
                                    <div name="Phone" id="cinfoPhone"></div>
                                    <div name="Email"><span name="Email" id="cinfoEmail"></span></div>
                                    <input type="hidden" id="cinfoKey" value="" />
                                </address>
                                <div class="appointment-section" id="appointment-section">
                                    <h3 data-lang="review.contact.appointment">Schedule an Appointment</h3>
                                    <input type="text" name="apptdate">
                                    <select name="appttime">
                                        <option data-lang="review.contact.anytime" value="Anytime">Anytime</option>
                                        <option value="09:00AM">09:00AM</option>
                                        <option value="10:00AM">10:00AM</option>
                                        <option value="11:00AM">11:00AM</option>
                                        <option value="12:00PM">12:00PM</option>
                                        <option value="01:00PM">01:00PM</option>
                                        <option value="02:00PM">02:00PM</option>
                                        <option value="03:00PM">03:00PM</option>
                                        <option value="04:00PM">04:00PM</option>
                                        <option value="05:00PM">05:00PM</option>
                                        <option value="06:00PM">06:00PM</option>
                                        <option value="07:00PM">07:00PM</option>
                                        <option value="08:00PM">08:00PM</option>
                                    </select>
                                    <button class="tiv-btn tiv-btn-get-directions" type="button" name="addappt" data-lang="review.contact.appointment">Add Appointment</button>
                                    <div class="appointment-success"></div>
                                </div>
                                <div class="directions-section">
                                    <h3 data-lang="review.contact.directions">Get Directions</h3>
                                    <textarea name="from_address" placeholder="Enter your address for directions">
                                        
                                    </textarea>
                                    <button class="tiv-btn tiv-btn-get-directions" type="button" data-trigger="directions" data-lang="review.contact.directions">Get Directions</button>
                                </div>
                            </div>
                            <div class="span6" id="map">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid directions-container hide">
            <div class="span10">
                <div class="panel">
                    <div class="panel-content">
                        <h2>
                            <div class="pull-right help-block util-icon-block">
                                <img src="img/print.png" data-toggle="print_directions" />
                            </div>
                            <span data-lang="review.directions.title">Directions to Dealership</span>
                        </h2>
                        <div class="directions-pane">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <div style="margin: 10px;">
                    <ol>
                        <li><strong data-lang="review.rules.statement.title">Vehicle Condition Statement:</strong>
                            <span data-lang="review.rules.statement.text">The price quoted above reflects a vehicle in the selected condition. Cost of necessary repairs and reconditioning (if needed) could affect the final appraised value. Depending on the vehicle’s condition and equipment, your dealer might offer you more or less for your vehicle.</span>
                        </li>
                        <li><strong data-lang="review.rules.information.title">Important Information:</strong>
                            <span data-lang="review.rules.information.text">Please ask your dealer about possible savings by taking advantage of state sales tax credits. A sales representative will contact you for further information. This estimate is based on the information provided and is not an offer to purchase your vehicle. The actual offer you receive on your trade-in may be more depending on your vehicle’s condition.</span>
                        </li>
                        <li><strong data-lang="review.rules.privacy.title">Privacy:</strong>
                            <span data-lang="review.rules.privacy.text">We respect your right to privacy. All information provided will remain confidential and will not be disclosed to any other party.</span>
                        </li>
                        <li><strong data-lang="review.rules.responsibility.title">Responsibility:</strong>
                            <span data-lang="review.rules.responsibility.text">This appraisal is provided by TradeInVelocity which is solely responsible for it.</span>
                        </li>
                    </ol>
                    <strong data-lang="review.rules.expiration.title">Expiration:</strong>
                    <span data-lang="review.rules.expiration.text">Please note this Vehicle Appraisal is valid for <span class="expiration-days"></span>days after the date of the appraisal</span>
                    <h4 class="expiration-date-notice">(<span data-lang="review.rules.expiration.text_desc">Expires on</span> <span class="expiration-date"></span>)</h4>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <button class="tiv-btn tiv-btn-start-over pull-left" type="reset" data-lang="buttons.start_over" data-toggle="reset">Start Over</button>
            </div>
        </div>
    </div>
</div>
