<div class="widget-step">
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span10">
            <div class="panel">
                <div class="panel-content">
                    <h2>
                        <span data-lang="customer.additional.title">Additional Information</span>
                    </h2>
                    <p data-lang="customer.additional.text">
                        Your trade appraisal is ready! Please provide us with your contact information so we can send you an email confirmation of our Dealer Promotion. A detailed appraisal report of your vehicle will be displayed on the following page.
                    </p>
                    <form>
                        <div class="row-fluid tiv-form">
                            <div class="span5 contact-form">
                                <h4 data-lang="customer.contact.title">Your Contact Details</h4>
                                <div class="row-fluid">
                                    <div class="span3 span3-p2"><label class="control-label" data-lang="customer.contact.fname">First Name</label>:<span class="required">*</span></div>
                                    <div class="span7 span7-p2"><input class="form-text" type="text" name="firstname"></div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span3 span3-p2"><label class="control-label" data-lang="customer.contact.lname">Last Name</label>:<span class="required">*</span></div>
                                    <div class="span7 span7-p2"><input class="form-text" type="text" name="lastname"></div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span3 span3-p2"><label class="control-label" data-lang="customer.contact.email">Email</label>:<span class="required">*</span></div>
                                    <div class="span7 span7-p2"><input class="form-text" type="text" name="email"></div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span3 span3-p2"><label class="control-label" data-lang="customer.contact.phone">Phone</label>:<span class="required">*</span></div>
                                    <div class="span7 span7-p2">
                                        <div class="row-fluid input-phone">
                                            <div class="span2"><input class="form-text number" type="tel" name="phone1" maxlength="3" data-type="phone" step="1" pattern="[0-9]*"></div>
                                            <div class="span2"><input class="form-text number" type="tel" name="phone2" maxlength="3" data-type="phone" step="1" pattern="[0-9]*"></div>
                                            <div class="span3"><input class="form-text number" type="tel" name="phone3" maxlength="4" data-type="phone" step="1" pattern="[0-9]*"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span3 span3-p2"><label class="control-label" data-lang="customer.contact.zip">Zip:</label><span class="required">*</span></div>
                                    <div class="span3 span3-zip-reg"><input class="form-text number" type="number" name="zip" maxlength="5" step="1"></div>
                                </div>
                            </div>
                            <div class="span5 desired-form">
                                <h4 data-lang="customer.desired.title">Desired Vehicle Information</h4>
                                <div class="row-fluid">
                                    <div class="span3"><label class="control-label" for="condition" data-lang="customer.desired.condition">Condition</label>:</div>
                                    <div class="condition-group span7">
                                        <div class="row-fluid">
                                            <label class="radio inline span3 condition-new" style="width: auto;">
                                                <input type="radio" id="condition-new" value="new" name="condition" data-loader="category" style="width: auto">
                                                <span data-lang="customer.desired.condition_options.newcar">New</span> </label>
                                            <label class="radio inline span3 condition-used" style="width: auto;">
                                                <input type="radio" id="condition-used" value="used" name="condition" data-loader="category" style="width: auto">
                                                <span data-lang="customer.desired.condition_options.usedcar">Used</span> </label>
                                            <label class="radio inline span3 condition-unsure" style="width: auto;">
                                                <input type="radio" id="condition-unsure" value="unsure" name="condition" data-loader="category" style="width: auto">
                                                <span data-lang="customer.desired.condition_options.unsure">Unsure</span> </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid desired-field">
                                    <div class="span3"><label class="control-label" for="category" data-lang="customer.desired.category">Category</label>:</div>
                                    <div class="span7">
                                        <select name="category" data-trigger="load" data-loader="make" id="category"></select>
                                    </div>
                                </div>
                                <div class="row-fluid desired-field">
                                    <div class="span3"><label class="control-label" for="make" data-lang="customer.desired.make">Make</label>:</div>
                                    <div class="span7">
                                        <select name="make" data-trigger="load" data-loader="model" id="make">
                                            <option data-lang="selects.select_make">Make</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid desired-field">
                                    <div class="span3"><label class="control-label" for="model" data-lang="customer.desired.model">Model</label>:</div>
                                    <div class="span7">
                                        <select name="model" data-trigger="load" data-loader="inventory" id="model">
                                            <option data-lang="selects.select_model">Model</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Example row of columns -->
    <div class="row-fluid dealer-inventory" style="display: none">
        <div class="span10">
            <a id="inventory"></a>
            <div class="panel">
                <div class="panel-content">
                    <h2 data-lang="customer.inventory.title">Match Found - <span class="match-count"></span> Vehicles</h2>
                    <p data-lang="customer.inventory.text">Select a vehicle to recieve a current and desired replacement vehicle appraisal.</p>
                    <div class="row-fluid inventory-results">
                        <div class="span5 inventory-item">
                            <div class="row-fluid" style="min-height: 150px;">
                                <div class="span5 left-col">
                                    <div class="thumbnail"><%= item.image %></div>
                                    
                                    <h4>Price: $<%= item.price %></h4>
                                </div>
                                <div class="span5 right-col">
                                    <div><strong><%= item.year %> - <%= item.make %></strong></div>
                                    <div><%= item.model %> - <%= item.body %></div>
                                    <div>City MPG: <%= item.cityMPG %></div>
                                    <div>Highway MPG: <%= item.highwayMPG %></div>
                                    <div>Exterior Color: <%= item.exteriorColor %></div>
                                    <div>Interior Color: <%= item.interiorColor %></div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span5">
                                    <a href="#" data-trigger="car_popup">More Information</a>
                                </div>
                                <div class="span5">
                                    <label class="checkbox">
                                        <a href="#" data-trigger="select_vehicle" >Select this Vehicle</a>
                                        <!--<input type="checkbox" name="replacement_vehicle" style="xdisplay: none;">-->
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="row-fluid">
                        <div class="span10">
                            <ul class="pager" style="margin: 0;">
                                <li><a href="#inventory" data-trigger="prev">Previous</a></li>
                                <li><a href="#inventory" data-trigger="next">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="promotion-container"></div>    
    
    <div class="row-fluid">
        <div class="span10">
            <button class="tiv-btn tiv-btn-start-over pull-left" type="reset" data-lang="buttons.start_over" data-toggle="reset">Start Over</button>
            <button class="tiv-btn tiv-btn-continue pull-right" type="button" data-lang="buttons.next" data-toggle="next">Next</button>
        </div>
    </div>
</div>