<div class="widget-step" id="step1">
    <form class="form-horizontal">
        <div class="row-fluid appraisal-panel">
            <div class="span10">
                <div class="panel">
                    <div class="panel-content">
                        <h2>
                            <div class="pull-right help-block language-block">
                                <span data-lang="select_lang">Select Language:</span>&nbsp;<img src="img/usaflag.png" data-toggle="language" data-language="ENG" /><img src="img/spainflag.png" data-toggle="language" data-language="ESP" />
                            </div>
                            <span data-lang="tradein.title">Tell Us About Your Vehicle</span></h2>
                        <p data-lang="tradein.text">
                            A simple three step process that allows you to find out what your trade-in's really worth.
                        </p>
                        <div class="row-fluid">
                            <div class="tiv-form first-page">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <label class="control-label" for="year" data-lang="tradein.year">Year</label>:*
                                    </div>
                                    <div class="span8">
                                        <select name="year" data-trigger="load" data-loader="make" id="year">
                                            <option data-lang="selects.select_year">Select Year</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <label class="control-label" for="make" data-lang="tradein.make">Make</label>:
                                    </div>
                                    <div class="span8">
                                        <select name="make" data-trigger="load" data-loader="model" id="make">
                                            <option data-lang="selects.select_make">Select Make</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <label class="control-label" for="model" data-lang="tradein.model">Model</label>:*
                                    </div>
                                    <div class="span8">
                                        <select name="model" data-trigger="load" data-loader="trim" id="model">
                                            <option data-lang="selects.select_model">Select Model</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <label class="control-label" for="trim" data-lang="tradein.trim">Trim</label>:*
                                    </div>
                                    <div class="span8">
                                        <select name="trim" data-trigger="load" data-loader="options" id="trim">
                                            <option data-lang="selects.select_trim">Select Trim</option>
                                        </select>
                                        <span class="error-block" id="trimerror" style="display:none;">*Value is missing</span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <label class="control-label" data-lang="tradein.mileage">Mileage</label>:*<label class="control-label"></label>
                                    </div>
                                    <div class="span4 span4-milage">
                                        <input class="form-text number" type="tel" name="mileage" placeholder="Mileage" step="1" pattern="[0-9]*">
                                    </div>

                                    <div class="span1 span1-zip">
                                        <label class="control-label" data-lang="tradein.zip" style="text-align: center">Zip</label>:*
                                    </div>
                                    <div class="span3 span3-zip">
                                        <input class="form-text number" type="tel" name="zip" placeholder="Zip" step="1" pattern="[0-9]*">
                                    </div>
                                </div>
                                <div class="row-fluid tradein-condition-row">
                                    <div class="span3 span3-conditions">
                                        <label class="control-label" for="condition" data-lang="tradein.condition">Condition</label>:
                                    </div>
                                    <div class="condition-group span7">
                                        <div class="row-fluid">
                                            <label class="radio inline span3" style="width: auto;">
                                                <input type="radio" id="condition-fair" value="average" name="condition" style="width: auto" data-lang="tradein.condition">
                                                <span data-lang="tradein.condition_fair">Fair</span>
                                            </label>
                                            <label class="radio inline span3" style="width: auto;">
                                                <input type="radio" id="condition-good" value="clean" name="condition" style="width: auto" checked="checked" data-lang="tradein.condition">
                                                <span data-lang="tradein.condition_good">Good</span>
                                            </label>
                                            <label class="radio inline span3" style="width: auto;">
                                                <input type="radio" id="condition-excellent" value="excellent" name="condition" style="width: auto" data-lang="tradein.condition">
                                                <span data-lang="tradein.condition_excellent">Excellent</span>
                                            </label>
                                            <label class="inline span3" id="pop_condition" style="width: auto"><a href="#">?</a></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="span4 appraisal-desc hide">
                                <div class="row-fluid">
                                    <!--<div class="span1"></div>-->
                                    <div class="span9">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x225" />
                                        </div>
                                        <div class="car-description">
                                            <h6 class="car-title"></h6>
                                            <span class="car-trim"></span>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span10">
                                                <div class="car-actions action-image-upload">
                                                    <button class="tiv-btn tiv-btn-photo pull-left" type="button" data-lang="buttons.upload_image" data-trigger="upload" data-upload="image">Upload Image</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span10">
                                                <div class="car-actions action-video-upload">
                                                    <button class="tiv-btn tiv-btn-video pull-left" type="button" data-lang="buttons.upload_video" data-trigger="upload" data-upload="video">Upload Video</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tradein-condition" style="display: none">
                <h3 data-lang="tradein.condition" style="display: none;">Condition</h3>
                <div>
                    <h4 data-lang="tradein.condition_fair">Fair</h4>
                    <div data-lang="tradein.condition_text.fair">
                        Fair Trade-In values reflect a vehicle in a fair condition. This means a vehicle with significant mechanical defects requiring repairs in order to restore reasonable running condition. Paint, body, and wheel surfaces have considerable damage to their finish, which may include dull or faded (oxidized) paint, small to medium size dents, frame damage, rust of obvious signs of previous repairs. Interior reflects above average wear with inoperable equipment, damaged or missing trim and heavily soiled/permanent imperfections on the headliner, carpet and upholstery. Vehicle may have a branded title and un-true mileage. Vehicle will need substantial reconditioning and repair to be made ready for resale. Some existing issues may be difficult to restore.
                    </div>
                    <h4 data-lang="tradein.condition_good">Good</h4>
                    <div data-lang="tradein.condition_text.good">Good Trade-In values reflect a vehicle in a Good condition. This means a vehicle that is mechanically sound, but may require some repairs/servicing to pass all necessary inspections. Paint, body, and wheel surfaces have moderate imperfections and a Good finish and shine which can be improved with restorative repair. Interior reflects some soiling and wear in relation to vehicle age with all equipment operable or requiring minimal effort to make operable. Vehicle has a clean title history. Vehicle will need a fair degree of reconditioning to be made ready for resale.</div>
                    <h4 data-lang="tradein.condition_excellent">Excellent</h4>
                    <div data-lang="tradein.condition_text.excellent">Excellent Trade-In values reflect a vehicle in an Excellent condition. This means a vehicle with no mechanical defects and passes all necessary inspections with ease. Paint, body, and wheels have minor surface scratching with a high gloss finish and shine. Interior reflects minimal soiling and wear with all equipment in complete working order. Vehicle has a clean title history. Vehicle will need minimal reconditioning to be made for resale.</div>
                </div>
            </div>


            <!-- Example row of columns -->
            <div class="row-fluid equipment-panel optional-equipment" style="display: none">
                <div class="span10">
                    <div class="panel">
                        <div class="panel-content">
                            <h2 data-lang="tradein.equipment_title">Optional Equipment</h2>
                            <p data-lang="tradein.equipment_text">
                                Please select the options that are included on your vehicle.
                            </p>
                            <ul>
                                <li>
                                    <label class="checkbox"><span class="pull-right option-value hide">$<%= option.value %></span><input type="checkbox" />&nbsp;<span class="option-text" style="height: 16px"><%= option.text %></span></label>
                                </li>
                            </ul>
                            <div class="options-total-row">
                                <span data-lang="tradein.equipment_total">Total Additions/Deductions</span>:&nbsp;&nbsp;<span class="options-total"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <button class="tiv-btn tiv-btn-start-over pull-left" type="reset" data-lang="buttons.reset" data-toggle="reset">Reset</button>
                    <button class="tiv-btn tiv-btn-continue pull-right" type="button" data-lang="buttons.next" data-toggle="next">Next</button>
                </div>
            </div>

        </div>
    </form>
</div>
